<div class="container pad-sections">
  <article class="card">
    <h1 class="card-header">Track Order</h1>
    <div class="card-body" *ngIf="myOrders">
      <h6>Order Number : {{ myOrders.orderNumber }}</h6>
      <article class="card">
        <div class="card-body row">
          <div class="col-6 col-xl-3 py-2">
            <strong>Order Date:</strong> <br />
            {{ myOrders.orderDate }}
          </div>
          <div class="col-6 col-xl-3 py-2">
            <strong>Total Price:</strong> <br />
            {{ myOrders.totalPrice }}
          </div>
          <div class="col-6 col-xl-3 py-2">
            <strong>Status:</strong> <br />
            {{ myOrders.status }}
          </div>
          <div class="col-6 col-xl-3 py-2">
            <strong>Arrival Date:</strong> <br />
            {{ myOrders.orderArrival }}
          </div>
        </div>
      </article>
      <div class="track">
        <div class="step active">
          <span class="icon"><fa-icon icon="user"> </fa-icon> </span>
          <span class="text">Order Placed </span>
        </div>
        <div class="step">
          <span class="icon"> <fa-icon icon="bread-slice"></fa-icon> </span>
          <span class="text"> Preparing Order</span>
        </div>
        <div class="step">
          <span class="icon"><fa-icon icon="truck"> </fa-icon></span>
          <span class="text"> Out for delivery </span>
        </div>
        <div class="step">
          <span class="icon">
            <div>
              <fa-icon icon="birthday-cake"></fa-icon></div
          ></span>
          <span class="text">Delivered</span>
        </div>
      </div>
      <hr />
      <ul class="row">
        <li class="col-6 col-xl-4">
          <figure class="itemside mb-3">
            <div class="aside mx-3">
              <img alt="" src="assets/images/casual.jpg" class="img-sm" />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">Dress</p>
              <span class="text-muted">$100 </span>
            </figcaption>
          </figure>
        </li>
        <li class="col-6 col-xl-4">
          <figure class="itemside mb-3">
            <div class="aside mx-3">
              <img alt="" src="assets/images/casual.jpg" class="img-sm" />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">Dress</p>
              <span class="text-muted">$100 </span>
            </figcaption>
          </figure>
        </li>
        <li class="col-6 col-xl-4">
          <figure class="itemside mb-3">
            <div class="aside mx-3">
              <img alt="" src="assets/images/casual.jpg" class="img-sm" />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">Dress</p>
              <span class="text-muted">$100 </span>
            </figcaption>
          </figure>
        </li>
        <li class="col-6 col-xl-4">
          <figure class="itemside mb-3">
            <div class="aside mx-3">
              <img alt="" src="assets/images/casual.jpg" class="img-sm" />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">Dress</p>
              <span class="text-muted">$100 </span>
            </figcaption>
          </figure>
        </li>
        <li class="col-6 col-xl-4">
          <figure class="itemside mb-3">
            <div class="aside mx-3">
              <img alt="" src="assets/images/casual.jpg" class="img-sm" />
            </div>
            <figcaption class="info align-self-center">
              <p class="title">Dress</p>
              <span class="text-muted">$100 </span>
            </figcaption>
          </figure>
        </li>
      </ul>
      <hr />
      <a [routerLink]="['/profile/myorders']" class="btn btn-warning">
        <app-main-button
          class="orderButton"
          content="Back to orders"
        ></app-main-button>
      </a>
    </div>
  </article>
</div>
<div class="pad-sections">
  <app-main-categories></app-main-categories>
  <app-features-section></app-features-section>
</div>
