
.btn-edit{
    background-color: transparent;
    color:var(--secondary-color);
    border:none;
}

.info-p{
    font-size: 1rem;
    font-family: var(--secondary-font); 
    font-weight: 500;
    color: var(--main-color);
}
.imgPen{
    width: 150px;
    height: 150px;
}
