
@media screen and (max-width:974px) {
    .profile-content{
        display: block;
    }
    .profile-content div:nth-child(1){
        width: 0% !important;
        display: none;
    }
    .profile-content div:nth-child(2){
        width: 100% !important;
    }
    .profile-content div:nth-child(3){
        display: block;
    }
}
@media screen and (min-width:974px) {
    .profile-content div:nth-child(3){
        display: none;
    }
}