:host{
    font-family: var(--main-font);
}
input::placeholder{
    font-family: var(--secondary-font);
}
fieldset {
    margin-bottom: 1em !important;
    border: 1px solid black !important;
    padding:1px !important;
}

legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}
.placeOrderBtn{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.checkoutPlaceOrder{
    background-color: rgba(117,91,180,0.3);
}