:host{
    font-family: var(--main-font);
}
input::placeholder{
    font-family: var(--secondary-font);
}
fieldset {
    margin-bottom: 1em !important;
    border: 1px solid black !important;
    padding:1px !important;
}

legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}
.placeOrderBtn{
    margin-top: 100%;
}