<div class="container pad-sections">
  <div class="row">
    <div
      class="shopSidebar col-xl-3 col-lg-3 py-1 d-none d-lg-block d-xl-block *ngi"
    >
      <ul class="list-unstyled">
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
          <li>
            <button
              type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
              data-bs-toggle="collapse"
              data-bs-target="#categories-collapse"
              aria-expanded="true"
            >
              <h5>Categories</h5>
            </button>

            <div class="collapse show" id="categories-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                <li class="position-relative">
                  <label
                    for="none"
                    class="link-dark text-muted text-capitalize d-inline-flex text-decoration-none rounded"
                    >none</label
                  >
                  <input
                    type="radio"
                    id="none"
                    value=" "
                    formControlName="category"
                  />
                </li>
                <li
                  *ngFor="let category of categories.categories"
                  class="position-relative"
                >
                  <label
                    for="cat"
                    class="link-dark text-muted text-capitalize text-captialize d-inline-flex text-decoration-none rounded"
                    >{{ category }}</label
                  >
                  <input
                    type="radio"
                    id="{{ category }}"
                    value="{{ category }}"
                    formControlName="category"
                  />
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
              data-bs-toggle="collapse"
              data-bs-target="#sub-collapse"
              aria-expanded="true"
            >
              <h5>Sub Categories</h5>
            </button>

            <div class="collapse show" id="sub-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                <li class="position-relative">
                  <label
                    for="none"
                    class="link-dark text-muted text-capitalize d-inline-flex text-decoration-none rounded"
                    >none</label
                  >
                  <input
                    type="radio"
                    id="none"
                    value=" "
                    formControlName="subcategory"
                  />
                </li>
                <li
                  class="position-relative"
                  *ngFor="let subcategory of categories.subCategories"
                >
                  <label
                    for="cat"
                    class="link-dark text-muted d-inline-flex text-capitalize text-decoration-none rounded"
                    >{{ subcategory }}</label
                  >
                  <input
                    type="radio"
                    id="{{ subcategory }}"
                    value="{{ subcategory }}"
                    formControlName="subcategory"
                  />
                </li>
              </ul>
            </div>
          </li>

          <li>
            <button
              type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
              data-bs-toggle="collapse"
              data-bs-target="#filterPrice-collapse"
              aria-expanded="true"
            >
              <h5>Minimum Price</h5>
            </button>
            <div class="collapse show" id="filterPrice-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                <li class="position-relative">
                  <label
                    for="p1"
                    class="link-dark text-muted text-capitalize d-inline-flex text-decoration-none rounded"
                    >none</label
                  >
                  <input
                    type="radio"
                    id="p1"
                    formControlName="MinPrice"
                    value=" "
                  />
                </li>

                <li class="position-relative">
                  <label
                    for="p1"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >100+</label
                  >
                  <input
                    type="radio"
                    id="p1"
                    formControlName="MinPrice"
                    value="100"
                  />
                </li>
                <li class="position-relative">
                  <input
                    type="radio"
                    id="p2"
                    formControlName="MinPrice"
                    value="200"
                  />

                  <label
                    for="p2"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >200+</label
                  >
                </li>
                <li class="position-relative">
                  <input
                    type="radio"
                    formControlName="MinPrice"
                    id="p3"
                    value="300"
                  />

                  <label
                    for="p3"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >300+</label
                  >
                </li>
                <li class="position-relative">
                  <label
                    for="p4"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >400+</label
                  >
                  <input
                    type="radio"
                    formControlName="MinPrice"
                    id="p4"
                    value="400"
                  />
                </li>
                <li class="position-relative">
                  <label
                    for="p5"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >500+</label
                  >
                  <input
                    type="radio"
                    id="p5"
                    formControlName="MinPrice"
                    value="500"
                  />
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
              data-bs-toggle="collapse"
              data-bs-target="#filtermax-collapse"
              aria-expanded="true"
            >
              <h5>Maximum Price</h5>
            </button>
            <div class="collapse show" id="filtermax-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                <li class="position-relative">
                  <label
                    for="p1"
                    class="link-dark text-muted text-capitalize d-inline-flex text-decoration-none rounded"
                    >none</label
                  >
                  <input
                    type="radio"
                    id="p1"
                    formControlName="MaxPrice"
                    value=" "
                  />
                </li>

                <li class="position-relative">
                  <label
                    for="p1"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >100-</label
                  >
                  <input
                    type="radio"
                    id="p1"
                    formControlName="MaxPrice"
                    value="100"
                  />
                </li>
                <li class="position-relative">
                  <input
                    type="radio"
                    id="p2"
                    formControlName="MaxPrice"
                    value="200"
                  />

                  <label
                    for="p2"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >200-</label
                  >
                </li>
                <li class="position-relative">
                  <input
                    type="radio"
                    formControlName="MaxPrice"
                    id="p3"
                    value="300"
                  />

                  <label
                    for="p3"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    checked="checked"
                    >300-</label
                  >
                </li>
                <li class="position-relative">
                  <label
                    for="p4"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >400-</label
                  >
                  <input
                    type="radio"
                    formControlName="MaxPrice"
                    id="p4"
                    value="400"
                  />
                </li>
                <li class="position-relative">
                  <label
                    for="p5"
                    class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                    >500-</label
                  >
                  <input
                    type="radio"
                    id="p5"
                    formControlName="MaxPrice"
                    value="500"
                  />
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button
              type="button"
              class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
              data-bs-toggle="collapse"
              data-bs-target="#gender-collapse"
              aria-expanded="true"
            >
              <h5>Gender</h5>
            </button>
            <div class="collapse show" id="gender-collapse">
              <ul
                class="custom-sizes btn-toggle-nav list-unstyled fw-normal small px-3"
              >
                <li>
                  <input
                    type="radio"
                    id="Male"
                    formControlName="type"
                    value="Men"
                  />

                  <label for="Male" class="size-filter">Men </label>

                  <input
                    type="radio"
                    id="Female"
                    formControlName="type"
                    value="Women"
                  />

                  <label for="Female" class="size-filter">Women </label>

                  <input
                    type="radio"
                    id="mennone"
                    value=" "
                    formControlName="type"
                  />

                  <label for="mennone" class="size-filter">All </label>
                </li>
              </ul>
            </div>
          </li>

          <!-- <div class="collapse show" id="color-collapse">
              <ul
                class="custom-radios btn-toggle-nav list-unstyled fw-normal small px-3"
              >
                <li class="py-3">
                  <input
                    type="radio"
                    id="color-1"
                    formControlName="color"
                    value="color-1"
                  />
                  <label for="color-1">
                    <span>
                      <fa-icon icon="check"></fa-icon>
                    </span>
                  </label>
                  <input
                    type="radio"
                    id="color-2"
                    formControlName="color"
                    value="color-2"
                  />
                  <label for="color-2">
                    <span>
                      <fa-icon icon="check"></fa-icon>
                    </span>
                  </label>
                  <input
                    type="radio"
                    id="color-3"
                    formControlName="color"
                    value="color-3"
                  />
                  <label for="color-3">
                    <span>
                      <fa-icon icon="check"></fa-icon>
                    </span>
                  </label>
                </li>
                <li>
                  <input
                    type="radio"
                    id="color-4"
                    formControlName="color"
                    value="color-4"
                  />
                  <label for="color-4">
                    <span>
                      <fa-icon icon="check"></fa-icon>
                    </span>
                  </label>
                  <input
                    type="radio"
                    id="color-5"
                    formControlName="color"
                    value="color-5"
                  />
                  <label for="color-5">
                    <span>
                      <fa-icon icon="check"></fa-icon>
                    </span>
                  </label>
                  <input
                    type="radio"
                    id="color-6"
                    formControlName="color"
                    value="color-6"
                  />
                  <label for="color-6">
                    <span>
                      <fa-icon icon="check"></fa-icon>
                    </span>
                  </label>
                </li>
              </ul>
            </div> -->

          <hr />
          <ul class="list-unstyled">
            <li>
              <app-main-button
                [iconLeft]="'filter'"
                content=" Filter"
                width="150px"
                fontSize="0.8rem"
              >
              </app-main-button>
            </li>
            <br />
            <li>
              <app-main-button
                type="reset"
                id="uncheck"
                iconLeft="eraser"
                content=" Clear All Filters"
                width="200px"
                fontSize="0.8rem"
                (click)="clearAllFilters()"
              ></app-main-button>
            </li>
          </ul>
        </form>
      </ul>
    </div>

    <div class="ShopProducts col-xl-9 col-lg-9">
      <div class="row">
        <div class="d-flex justify-content-between">
          <div
            class="smallFilterDiv col-6 d-block d-xl-none d-md-block d-lg-none position-relative"
          >
            <div
              class="filterBox px-3 mt-4 bg-light d-block d-xl-none d-md-block d-lg-none"
              (click)="openFilter()"
            >
              <p class="mt-3 ml-3">
                Filter <fa-icon icon="arrow-down"></fa-icon>
              </p>
            </div>
            <div class="smallFilter position-absolute" *ngIf="showFilter">
              <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                  <h5 class="filterName px-0">Category</h5>
                  <li class="position-relative">
                    <label
                      for="none"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >none</label
                    >
                    <input
                      type="radio"
                      id="none"
                      value=" "
                      formControlName="category"
                    />
                  </li>
                  <li
                    *ngFor="let category of categories.categories"
                    class="position-relative"
                  >
                    <label
                      for="cat"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >{{ category }}</label
                    >
                    <input
                      type="radio"
                      id="{{ category }}"
                      value="{{ category }}"
                      formControlName="category"
                    />
                  </li>
                </ul>
                <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                  <h5 class="filterName px-0">Sub Categories</h5>
                  <li class="position-relative">
                    <label
                      for="none"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >none</label
                    >
                    <input
                      type="radio"
                      id="none"
                      value=" "
                      formControlName="subcategory"
                    />
                  </li>
                  <li
                    *ngFor="let subcategory of categories.subCategories"
                    class="position-relative"
                  >
                    <label
                      for="cat"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >{{ subcategory }}</label
                    >
                    <input
                      type="radio"
                      id="{{ subcategory }}"
                      value="{{ subcategory }}"
                      formControlName="subcategory"
                    />
                  </li>
                </ul>

                <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                  <h5 class="filterName px-0">Minimum Price</h5>
                  <li class="position-relative">
                    <label
                      for="p1"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >none</label
                    >
                    <input
                      type="radio"
                      id="p1"
                      formControlName="MinPrice"
                      value=" "
                    />
                  </li>

                  <li class="position-relative">
                    <label
                      for="p1"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >100+</label
                    >
                    <input
                      type="radio"
                      id="p1"
                      formControlName="MinPrice"
                      value="100"
                    />
                  </li>
                  <li class="position-relative">
                    <input
                      type="radio"
                      id="p2"
                      formControlName="MinPrice"
                      value="200"
                    />

                    <label
                      for="p2"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >200+</label
                    >
                  </li>
                  <li class="position-relative">
                    <input
                      type="radio"
                      formControlName="MinPrice"
                      id="p3"
                      value="300"
                    />

                    <label
                      for="p3"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >300+</label
                    >
                  </li>
                  <li class="position-relative">
                    <label
                      for="p4"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >400+</label
                    >
                    <input
                      type="radio"
                      formControlName="MinPrice"
                      id="p4"
                      value="400"
                    />
                  </li>
                  <li class="position-relative">
                    <label
                      for="p5"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >500+</label
                    >
                    <input
                      type="radio"
                      id="p5"
                      formControlName="MinPrice"
                      value="500"
                    />
                  </li>
                </ul>
                <hr />
                <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
                  <h5 class="filterName px-0">Maximum Price</h5>

                  <li class="position-relative">
                    <label
                      for="p1"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >none</label
                    >
                    <input
                      type="radio"
                      id="p1"
                      formControlName="MaxPrice"
                      value=" "
                    />
                  </li>

                  <li class="position-relative">
                    <label
                      for="p1"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >100-</label
                    >
                    <input
                      type="radio"
                      id="p1"
                      formControlName="MaxPrice"
                      value="100"
                    />
                  </li>
                  <li class="position-relative">
                    <input
                      type="radio"
                      id="p2"
                      formControlName="MaxPrice"
                      value="200"
                    />

                    <label
                      for="p2"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >200-</label
                    >
                  </li>
                  <li class="position-relative">
                    <input
                      type="radio"
                      formControlName="MaxPrice"
                      id="p3"
                      value="300"
                    />

                    <label
                      for="p3"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      checked="checked"
                      >300-
                    </label>
                  </li>
                  <li class="position-relative">
                    <label
                      for="p4"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >400-</label
                    >
                    <input
                      type="radio"
                      formControlName="MaxPrice"
                      id="p4"
                      value="400"
                    />
                  </li>
                  <li class="position-relative">
                    <label
                      for="p5"
                      class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                      >500-</label
                    >
                    <input
                      type="radio"
                      id="p5"
                      formControlName="MaxPrice"
                      value="500"
                    />
                  </li>
                </ul>
                <hr />
                <ul
                  class="custom-sizes btn-toggle-nav list-unstyled fw-normal small px-3"
                >
                  <h5 class="filterName">Gender</h5>
                  <input
                    type="radio"
                    id="noneall"
                    formControlName="type"
                    value=" "
                  />

                  <label for="noneall" class="size-filter">All </label>
                  <li>
                    <input
                      type="radio"
                      id="Men"
                      formControlName="type"
                      value="Men"
                      checked="checked"
                    />

                    <label for="Men" class="size-filter">Men </label>

                    <input
                      type="radio"
                      id="Femalea"
                      formControlName="type"
                      value="Women"
                    />

                    <label for="Femalea" class="size-filter">Women </label>
                  </li>
                </ul>
                <hr />
                <!-- <ul
                  class="custom-radios btn-toggle-nav list-unstyled fw-normal small px-3"
                >
                  <li class="py-3">
                    <input
                      type="radio"
                      id="color1"
                      formControlName="color"
                      value="color-1"
                    />
                    <label for="color1">
                      <span>
                        <fa-icon icon="check"></fa-icon>
                      </span>
                    </label>
                    <input
                      type="radio"
                      id="color2"
                      formControlName="color"
                      value="color-2"
                    />
                    <label for="color2">
                      <span>
                        <fa-icon icon="check"></fa-icon>
                      </span>
                    </label>
                    <input
                      type="radio"
                      id="color3"
                      formControlName="color"
                      value="color-3"
                    />
                    <label for="color3">
                      <span>
                        <fa-icon icon="check"></fa-icon>
                      </span>
                    </label>
                  </li>
                  <li>
                    <input
                      type="radio"
                      id="color4"
                      formControlName="color"
                      value="color-4"
                    />
                    <label for="color4">
                      <span>
                        <fa-icon icon="check"></fa-icon>
                      </span>
                    </label>
                    <input
                      type="radio"
                      id="color5"
                      formControlName="color"
                      value="color-5"
                    />
                    <label for="color5">
                      <span>
                        <fa-icon icon="check"></fa-icon>
                      </span>
                    </label>
                    <input
                      type="radio"
                      id="color6"
                      formControlName="color"
                      value="color-6"
                    />
                    <label for="color6">
                      <span>
                        <fa-icon icon="check"></fa-icon>
                      </span>
                    </label>
                  </li>
                </ul> -->
                <hr />
                <ul class="list-unstyled">
                  <li>
                    <app-main-button
                      type="submit"
                      [iconLeft]="'filter'"
                      content=" Filter"
                      width="150px"
                      fontSize="0.8rem"
                    >
                    </app-main-button>
                  </li>
                  <br />

                  <li>
                    <app-main-button
                      type="reset"
                      id="uncheck"
                      iconLeft="eraser"
                      content=" Clear All Filters"
                      fontSize="0.7rem"
                      width="160px"
                      (click)="clearAllFilters()"
                    ></app-main-button>
                  </li>
                </ul>
              </form>
            </div>
          </div>

          <div class="searchbox col-6 col-xl-12 col-lg-6 col-lg-12">
            <div class="inputBox">
              -
              <div class="search-items bg-light">
                <span class="searchIcon" (click)="getSearch()">
                  <fa-icon icon="magnifying-glass"></fa-icon
                ></span>

                <input
                  type="search"
                  name="search"
                  [(ngModel)]="searchTerm"
                  placeholder="Search by name"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="card col-xl-4 col-md-4 col-6"
          *ngFor="
            let newProd of newProds
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: pageNumber,
                    totalItems: count
                  };
            let i = index
          "
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="100"
        >
          <app-productbox
            [product]="newProd?.product"
            [rating]="newProd?.avgRate"
          ></app-productbox>
        </div>
        <div *ngIf="newProds.length > 0" class="paginationCustom">
          <pagination-controls
            class="my-pagination"
            (pageChange)="changePage($event)"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          >
          </pagination-controls>
        </div>
        <div class="shopnoprod" *ngIf="newProds.length == 0">
          <fa-icon icon="shop"></fa-icon>
          NO PRODUCTS FOUND
        </div>
      </div>
    </div>
  </div>
</div>
