<div class="container pad-sections">
  <div class="row">
    <div class="shopSidebar col-xl-3 py-1">
      <ul class="list-unstyled">
        <li>
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
            data-bs-toggle="collapse"
            data-bs-target="#categories-collapse"
            aria-expanded="true"
          >
            <h5>Categories</h5>
          </button>
          <div class="collapse show" id="categories-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >Men</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >Women</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >Accessories</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >Shoes</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
            data-bs-toggle="collapse"
            data-bs-target="#filterPrice-collapse"
            aria-expanded="true"
          >
            <h5>Filter Price</h5>
          </button>
          <div class="collapse show" id="filterPrice-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal small px-3">
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >$0-$50</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >$50-$100</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >$100-$150</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >$150-$200</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark text-muted d-inline-flex text-decoration-none rounded"
                  >$200+</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
            data-bs-toggle="collapse"
            data-bs-target="#size-collapse"
            aria-expanded="true"
          >
            <h5>Size</h5>
          </button>
          <div class="collapse show" id="size-collapse">
            <ul
              class="custom-sizes btn-toggle-nav list-unstyled fw-normal small px-3"
            >
              <li>
                <input type="radio" id="xs" name="size" value="xs" />

                <label for="xs" class="size-filter">XS </label>

                <input type="radio" id="s" name="size" value="s" />

                <label for="s" class="size-filter">s </label>

                <input type="radio" id="m" name="size" value="m" />

                <label for="m" class="size-filter">M </label>
              </li>
              <li>
                <input type="radio" id="l" name="size" value="l" />

                <label for="l" class="size-filter">L </label>

                <input type="radio" id="xl" name="size" value="xl" />

                <label for="xl" class="size-filter">XL </label>

                <input type="radio" id="xxl" name="size" value="xxl" />

                <label for="xxl" class="size-filter">XXL </label>
              </li>
              <li>
                <input type="radio" id="xxxl" name="size" value="xxxl" />

                <label for="xxxl" class="size-filter">xxxl </label>

                <input type="radio" id="xxxxl" name="size" value="xxxxl" />

                <label for="xxxxl" class="size-filter">XxxxL </label>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed position-relative"
            data-bs-toggle="collapse"
            data-bs-target="#color-collapse"
            aria-expanded="true"
          >
            <h5>Color</h5>
          </button>
          <div class="collapse show" id="color-collapse">
            <ul
              class="custom-radios btn-toggle-nav list-unstyled fw-normal small px-3"
            >
              <li class="py-3">
                <input type="radio" id="color-1" name="color" value="color-1" />
                <label for="color-1">
                  <span>
                    <fa-icon icon="check"></fa-icon>
                  </span>
                </label>
                <input type="radio" id="color-2" name="color" value="color-2" />
                <label for="color-2">
                  <span>
                    <fa-icon icon="check"></fa-icon>
                  </span>
                </label>
                <input type="radio" id="color-3" name="color" value="color-3" />
                <label for="color-3">
                  <span>
                    <fa-icon icon="check"></fa-icon>
                  </span>
                </label>
              </li>
              <li>
                <input type="radio" id="color-4" name="color" value="color-4" />
                <label for="color-4">
                  <span>
                    <fa-icon icon="check"></fa-icon>
                  </span>
                </label>
                <input type="radio" id="color-5" name="color" value="color-5" />
                <label for="color-5">
                  <span>
                    <fa-icon icon="check"></fa-icon>
                  </span>
                </label>
                <input type="radio" id="color-6" name="color" value="color-6" />
                <label for="color-6">
                  <span>
                    <fa-icon icon="check"></fa-icon>
                  </span>
                </label>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="ShopProducts col-xl-9">
      <div class="row">
        <div
          class="card col-xl-4 col-6"
          *ngFor="
            let newProd of newProds
              | paginate : { itemsPerPage: 9, currentPage: p };
            let i = index
          "
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="100"
        >
          <div class="card-design">
            <div class="card-fav-cart position-relative bg-danger">
              <img
                src="{{ newProd.img }}"
                class="img-fluid"
                alt=""
                (click)="addToCart(newProd)"
              />
              <div class="position-absolute fav-cart">
                <!-- <div class="d-inline" (click)="addToCart(newProd)" >
                  <span ><fa-icon icon="cart-shopping" class="favCartIcons" (click)="cartClicked($event)"></fa-icon></span>
                </div> -->
                <div class="d-inline">
                  <span
                    ><fa-icon
                      id="{{ newProd.id }}"
                      icon="heart"
                      (click)="addToFav(newProd, $event)"
                      class="favIcons favs"
                    ></fa-icon
                  ></span>
                </div>
              </div>
            </div>
            <div class="prodDetails">
              <p>
                {{ newProd.ProdName }}
              </p>
              <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana">
                {{ newProd.Category }}
              </p>
              <p style="font-family: 'Courier New', Courier, monospace">
                $ {{ newProd.Price }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
</div>
