<div class="container overflow-hidden py-2">
  <div
    class="categories-section"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-once="true"
  >
    <h1>
      Main <br />
      Categories
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-3 col-6">
      <div
        (click)="setFilter('Women')"
        routerLink="/shop"
        class="card overflow-hidden"
        data-aos="fade-up"
        data-aos-once="true"
      >
        <img
          src="assets/images/accessory.jpg"
          height="350px"
          class="card-img"
          alt=""
        />
        <div class="card-layout">
          <h3>WOMEN</h3>
        </div>
      </div>
    </div>
    <div class="mt-md-0 mt-lg-0 col-lg-3 col-6">
      <div
        (click)="setFilter('Men')"
        routerLink="/shop"
        class="card overflow-hidden"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-once="true"
      >
        <img
          src="assets/images/casual.jpg"
          height="350px"
          class="card-img"
          alt=""
        />
        <div class="card-layout">
          <h3>MEN</h3>
        </div>
      </div>
    </div>
    <div class="mt-4 mt-md-4 mt-lg-0 col-lg-3 col-6">
      <div
        (click)="setCategory('blazer')"
        routerLink="/shop"
        class="card overflow-hidden"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <img
          src="assets/images/kids.jpeg"
          height="350px"
          class="card-img"
          alt=""
        />
        <div class="card-layout">
          <h3>FORMAL</h3>
        </div>
      </div>
    </div>
    <div class="mt-4 mt-md-4 mt-lg-0 col-lg-3 col-6">
      <div
        (click)="setCategory('shoes')"
        routerLink="/shop"
        class="card overflow-hidden"
        data-aos="fade-up"
        data-aos-duration="2000"
        data-aos-once="true"
      >
        <img
          src="assets/images/formal.jpg"
          height="350px"
          class="card-img"
          alt=""
        />
        <div class="card-layout">
          <h3>SHOES</h3>
        </div>
      </div>
    </div>
  </div>
</div>
