:host{
  font-family: var(--main-font);
}
.card {
  cursor: pointer;
  /* border-radius: 50%;   */
  border-radius: 0%;
  /* border-radius: 30px; */
}
.categories-section h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--main-color);

}
@media screen and (max-width:990px) {
    .card-layout{
      transform: translateY(0%) !important;
      height: 20% !important;
      bottom: 0;
    }
    .btnCategories{
      display: block !important;
      position: absolute;
      z-index: 999999;
      background-color: transparent;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);

    }
}
.btnCategories{
  display: none;
}
.card-layout {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 999;
  background-color: rgba(91, 180, 147, 0.5);
  width: 100%;
  text-align: center;
  color: #ffffff;
  opacity: 1;
  transform: translateY(100%);
  animation: card-down 0.4s forwards;

}

.card:hover .card-layout {
  animation: card-up 0.4s forwards;

}

.card-img {
  transition: all 0.4s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.1);

}

@keyframes card-up {
  0% {
    transform: translateY(100%);

  }

  100% {
    transform: translateY(0%);

  }
}

@keyframes card-down {
  0% {
    transform: translateY(0%);

  }

  100% {
    transform: translateY(100%);

  }


}
