.tableContent{
    vertical-align: middle;
}
.fontawesomesvg {
    width: 100px;
}
.nofavs{
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}