
<div class="pad-sections" id="tableContainer2">
    <div class="container">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Price</th>
                    <th>status</th>
                    <th>.</th>
                </tr>
            </thead>
            <tbody class="tableContent">
                <ng-container *ngFor="let fav of favouriteList;let i=index"> 
                    <tr>
                        <td class="row ">
                            <div class="col-4"><img src="{{fav.img}}" width="170px" class="img-fluid" alt=""></div>
                            <div class="col-8 text-start">
                                <h6>{{fav.ProdName}}</h6>
                                <p>{{fav.Category}}</p> <button (click)="removeItem(i)" class="btn btn-outline-danger">remove</button>
                            </div>
                        </td>
                        <td>
                            {{fav.Price}}
                        </td>
                        <td><span>in stock</span><!--<span>in stock</span>--></td>
                        <td class="text-end"><app-main-button width="50%" content="Add To Cart"></app-main-button></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="btnsCart row">
            <div class="col-12 col-md-6" (click)="clearCart()">
                <app-main-button width="30%" content="Clear Cart"></app-main-button>
            </div>
        </div>
    </div>
</div>
<div id="noFavsDiv" style="cursor: pointer;"
    class="nofavs">
    <p><svg class='fontawesomesvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
    </p>
    <p>You have no favourites.. <br>go to shop to add some</p>
</div>