<div class="profile-animation" *ngIf="favouriteList">
    <div class="orderstitle pad-sections px-3">
        <h1>Wish List</h1>
    </div>
    <div class="">
        <table class="table table-borderless tableContent">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let fav of favouriteList | paginate :{itemsPerPage:pageSize,currentPage:pageNumber,totalItems:count}">
                <tr class="tableInfoCell">
                    <td class="d-flex">
                        <div>
                            <img src="{{fav.productImages[0].imageUrl}}" width="150px" height="150px" alt="">
                        </div>
                        <div style="cursor: pointer;" class="prodInfo ms-3">
                            <h6 [routerLink]="['/shop/product',fav.productId]">{{fav.productName}}</h6>
                            <!-- <p>{{fav.description}}</p> -->
                            <p>${{fav.price}}</p>
                        </div>
                    </td>
                    <td class="inStock">IN STOCK</td>
                    <td>
                        <div class="tableBtnRemove" (click)="removeItem(fav.productId)">
                            <fa-icon [icon]="['fas','circle-xmark']"></fa-icon>
                        </div>
                    </td>
                </tr>
                <!-- <tr class="tableInfoCell">
                    <td class="d-flex ">
                        <div>
                            <img src="assets\images\01.jpg" width="150px" height="150px" alt="">
                        </div>
                        <div class="prodInfo ms-3">
                            <h6>item2</h6>
                            <p>dress</p>
                            <p>$100</p>
                        </div>
                    </td>
                    <td class="inStock">IN STOCK</td>
                    <td>
                        <div class="tableBtnRemove">
                            <fa-icon [icon]="['fas','circle-xmark']"></fa-icon>
                        </div>
                    </td>
                </tr> -->
                <!-- <tr class="tableInfoCell">
                    <td class="d-flex">
                        <div>
                            <img src="assets\images\04.jpg" width="150px" height="150px" alt="">
                        </div>
                        <div class="prodInfo ms-3">
                            <h6>item2</h6>
                            <p>dress</p>
                            <p>$100</p>
                        </div>
                    </td>
                    <td class="outOfStock">OUT OF STOCK</td>
                    <td>
                        <div class="tableBtnRemove">
                            <fa-icon [icon]="['fas','circle-xmark']"></fa-icon>
                        </div>
                    </td>
                </tr> -->
                <!-- <tr class="tableInfoCell">
                    <td class="d-flex">
                        <div>
                            <img src="assets\images\02.jpg" width="150px" height="150px" alt="">
                        </div>
                        <div class="prodInfo ms-3">
                            <h6>item2</h6>
                            <p>dress</p>
                            <p>$100</p>
                        </div>
                    </td>
                    <td class="inStock">IN STOCK</td>
                    <td>
                        <div class="tableBtnRemove">
                            <fa-icon [icon]="['fas','circle-xmark']"></fa-icon>
                        </div>
                    </td>
                </tr> -->
            </tbody>

        </table>
    </div>


   <div class="paginationCustom">
    <pagination-controls
        class="my-pagination"
        (pageChange)="changePage($event)"
        previousLabel="Previous"
        nextLabel="Next"
      >
      </pagination-controls>
   </div>
</div>
<div id="noFavsDiv" style="cursor: pointer" [routerLink]="['/shop']" class="nofavs" *ngIf="!favouriteList">
    <p class="cartPlus">
        <fa-icon [icon]="['fas','heart']"></fa-icon>
      </p>
    <p>You have no favourites.. <br />go to shop to add some</p>
</div>