* {
  font-family: var(--main-font);
}
.background1 {
  background-image: url(../../../assets/images/1920x1080-503178-formal-hand.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.background4 {
  background-image: url(../../../assets/images/1920x1080-503178-formal-hand.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.pad-sections {
  margin: 50px auto 50px auto;
  border: 0;
}

/*slideShow*/
.slider-imgs{
  background-image: url('../../../assets/images/1913844.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: rgb(191, 174, 238);
  background-blend-mode:luminosity;
z-index: -9999;  */

}
.headerContent{
  position: absolute;
  bottom: 15%;
  left:10%;
  width: 30%;
  color: #ffffff;
  
}
/* .slider-home {
  position: relative;
  overflow: hidden;
}

.slider-imgs {
  position: relative;
  width: 400%;
  left: 0;
  animation: slideShow 15s infinite;
}

.slider-imgs img {
  position: relative;
  height: 100vh;
  width: 100%;
  float: left;
} */

@keyframes slideShow {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  20% {
    left: -100%;
  }

  40% {
    left: -100%
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  80% {
    left: -300%;
  }

  100% {
    left: -300%;
  }


}




.home-content {
  position: absolute;
  width: 35%;
  text-align: center;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;

}


/* .rent {
  position: relative;
  display: inline-block;
  color: var(--main-color);
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i));
  font-size: 3rem;
} */

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}

/* .btn-custom {
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 1.2rem;
} */
.heading a.continue:link,
.heading a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 1em;
  padding: 0.6em 1em;
  color: #fff;
  background: var(--main-color);
  font-weight: bold;
  border-radius: 50px;
  text-align: right;
  transition: 0.1s all ease-in-out;
}



/* .heading a.continue:hover,
.heading a.continue:focus,
.heading a.continue:active {
  background: var(--main-color);

} */

.btn-custom:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
}

/*cards*/
.card {
  cursor: pointer;
  /* border-radius: 50%;   */
  border-radius: 0%;
  /* border-radius: 30px; */
}

.card-layout {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 999;
  background-color: rgba(117, 91, 180, 0.5);
  width: 100%;
  text-align: center;
  color: #ffffff;
  opacity: 1;
  transform: translateY(100%);
  animation: card-down 0.4s forwards;

}

.card:hover .card-layout {
  animation: card-up 0.4s forwards;

}

.card-img {
  transition: all 0.4s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.1);

}

/* new arrival layout */

.newArrivals-section h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--main-color);

}

.fav-cart {
  margin: 0 5px;
  top: 80%;
  right: 0;
  margin-right: 20px;
  display: none;

}

.card-fav-cart:hover .fav-cart {
  display: block;
  animation: slideInRight 0.3s;

}

.fav-cart .favIcons{
  margin: 0px 5px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 8px;
  color: var(--main-color);
  transition: all 0.1s ease-in-out;
}



.newArrivals-section .card {

  border: transparent;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;



}


.newArrivals-section .card p {
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  margin-top: 1rem;
}

.newArrivals-section .card-design {
  box-shadow: 0 0 2px rgba(33, 33, 33, .2)
}

.newArrivals-section .card-design:hover {
  box-shadow: 0 0 7px rgba(33, 33, 33, .2)
}

.newArrivals-section .card-fav-cart img{
  height: 300px;
  /*object-fit: contain;*/
}

.newArrivals-section .btn-custom {

  color: var(--main-color);
  background-color: white;
  border: 1px solid;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;



}

.newArrivals-section .btn-custom:hover {
  background-color: var(--main-color);
  color: white;


}

/* bg2-styling */

.homeBgs img {
  width: 100%;
  height: 100%;

}


.homeBg-2-content h2 {
  width: 35%;
}

.homeBgs .homeBg-2-content {

  position: absolute;
  width: 35%;
  text-align: center;
  color: #ffffff;
  z-index: 999;

}
@media screen and (max-width:950px) {
  .homeBgs h2{
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: 10px;
  }
  .btn-respon .btn-custom{
    font-size: 0.8rem;
    padding: 2px 5px;
  }
}

.homeBgs .homeBg-2-content h1 {

  transition: all 1s ease-in-out;

}

/* bg 3/4 styling */

.container .homeBgs img {
  transition: all 0.4s ease-in-out
}

.container .homeBgs img:hover {

  transform: scale(1.06);

}

.homeBgs .homeBgs-4-content {

  position: absolute;
  color: #ffffff;
  top: 0;

}

.container .homeBgs:hover img {
  transform: scale(1.06);
}

.homeBgs-4-content h2 {
  width: 60%;

}

.homeBgs-3-content h2 {
  width: 60%;
}

.homeBgs .homeBgs-3-content {

  position: absolute;
  color: #ffffff;

}






/* @keyframes card-up {
  0% {
    transform: translateY(100%);

  }

  100% {
    transform: translateY(0%);

  }
}

@keyframes card-down {
  0% {
    transform: translateY(0%);

  }

  100% {
    transform: translateY(100%);

  }


} */

@keyframes button-up {
  0% {


    background-color: white;
    color: var(--main-color);

  }

  100% {

    background-color: var(--main-color);
    color: white
  }


}
@media screen and (max-width:990px) {
  .home-content h1{
    font-size: 0.7rem !important;
  }
  span{
    font-size:1.2rem !important ;
  }
  .head-btn-custom .btn-custom{
      font-size: 0.8rem;
      padding: 2px 5px;
  }
  .categories-section .card{
    height: 220px;
  }
  .headerContent{

    width: 80%;
  }
}
