<!-- i want a child outlet here -->
<div class="overflow-hidden">
  <!-- Slideshow and header -->
  <div class="slider-home mb-5">
    <div class="slider-imgs">
      <img src="assets/images/1920x1080-503178-formal-hand.jpg" alt="" />
      <img src="assets/images/img2.jpg" alt="" />
      <img src="assets/images/img3.jpg" alt="" />
      <img src="assets/images/1920x1080-503178-formal-hand.jpg" alt="" />
    </div>
    <div class="home-content">
      <h1>
        <span class="rent" style="--i: 1">R</span
        ><span class="rent" style="--i: 2">E</span
        ><span class="rent" style="--i: 3">N</span
        ><span class="rent" style="--i: 4">T</span> whatever you want ,wherever
        you are
      </h1>
      <div class="head-btn-custom mt-2 mt-md-4 mt-lg-5">
        <button class="btn btn-custom" [routerLink]="['/shop']">
          Shop now
        </button>
      </div>
    </div>
  </div>
  <!-- categories section -->
  <app-main-categories></app-main-categories>
  <!-- New Arrivals Section starts here-->
  <div
    class="newArrivals-section pad-sections"
    data-aos="fade-up"
    data-aos-duration="2000"
    data-aos-once="true"
  >
    <h1>
      NEW <br />
      ARRIVAL
    </h1>
    <div class="container">
      <div class="row">
        <div
          class="card col-xl-3 col-lg-4 col-6"
          *ngFor="let newProd of newProds; let i = index"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <app-productbox [product]="newProd"></app-productbox>
        </div>
      </div>
    </div>
    <h1>
      <button data-aos="fade-up" data-aos-once="true" class="btn btn-custom">
        Browse More
      </button>
    </h1>
  </div>

  <!-- Backgrounds Section starts from here -->

  <!-- 2nd Background in home page starts here-->
  <div class="homeBgs card position-relative pad-sections">
    <img src="assets/images/1920x1080-503178-formal-hand.jpg " alt="" />
    <div
      class="homeBg-2-content d-flex flex-column justify-content-center align-items-center h-100 card-body w-100"
    >
      <h2 data-aos="fade-up" data-aos-once="true">
        Collection houses our first-ever
      </h2>
      <div class="btn-respon mt-0 mt-md-3">
        <button class="btn btn-custom">Shop now</button>
      </div>
    </div>
  </div>
  <!-- 3rd & 4th Background in home page starts here-->
  <div class="container pad-sections">
    <div class="row">
      <div class="col-lg-6">
        <div class="homeBgs position-relative">
          <img src="assets/images/section-img1.jpg " alt="" />

          <div
            class="ms-3 homeBgs-4-content d-flex flex-column justify-content-end h-100 w-100 position-absolute"
          >
            <h2 data-aos="fade-out" data-aos-once="true" class="">
              Collection houses our first-ever
            </h2>
            <div class="btn-respon mb-3">
              <button class="btn btn-custom">Shop now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 mt-lg-0 col-lg-6">
        <div class="homeBgs position-relative">
          <img src="assets/images/section-img2.jpg " alt="" />

          <div
            class="ms-3 homeBgs-4-content d-flex flex-column justify-content-end h-100 w-100 position-absolute"
          >
            <h2 data-aos="fade-out" data-aos-once="true" class="">
              Collection houses our first-ever
            </h2>
            <div class="btn-respon mb-3">
              <button class="btn btn-custom">Shop now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div><app-features-section></app-features-section></div>
</div>
