<div class="login-form row g-0">
    <div class="col-lg-6 bg-login">
        <div class="h-100 d-flex flex-column text-center justify-content-center login-img-content">
            <h4>Welcome</h4>
            <p>login to Continue</p>
        </div>
    </div>
    <div class="col-lg-6 bg-danger">
        <div class="">
            <span>Login</span>
            <div class="mx-auto">
                <input type="text" class="d-block">
                <input type="text" class="d-block">
            </div>
        </div>
    </div>
</div>