<div class="login-form row g-0">
    <div class="col-lg-6 bg-login">
        <div class="h-100 d-flex flex-column text-center justify-content-center login-img-content">
            <h4>Welcome</h4>
            <p>login to Continue shopping</p>
        </div>
    </div>
    <div class="col-lg-6 my-5 my-lg-0">
        <div class="mx-auto input-group h-100 d-flex flex-column justify-content-center align-content-center">
            <h5 style="color:var(--main-color)">Login</h5>
            <div class="w-50">               
                <app-input type="password"></app-input>
                <app-input></app-input>
                <app-main-button width="100%" content="Login"></app-main-button>
            </div>
            
        </div>
    </div>
</div>