:host{
    position: sticky;
    top: 0;
    z-index: 9999;
}

.container-drop{
    max-width: 650px ;
    margin:15px auto;
}


.nav-li-dropdown{
    position: relative;
}

.dropdown-list{
    position:absolute;
    display: none;
    padding: 20px 0px;
    left: 0;
    right: 0;
    z-index: -1;
}

.nav-li-dropdown:hover .dropdown-list{
   display: block;
   animation: dropdown 0.4s ease-in-out ;
}
.nav-li-dropdown{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    z-index: 999;


}
.nav-line{
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;

}
.nav-line:hover{
    border-bottom: 2px solid black;
    color: black;
    transform: scale(1.1);

}
.nav-li-dropdown:hover .nav-line{
    border-bottom: 2px solid black;
    color: black;
    transform: scale(1.1);

}

.search-container{
display: none;
  top:0;
padding:20px 0;
  width: 100%;
position: fixed;
z-index: 999;
animation: dropdown 0.25s ease-in-out;
padding-top: 1.5rem;


}
.inputBox{
  outline: 0;
  border: transparent;



  }

  .search-container .navbar-brand{


    padding-left: 15px;
    padding-bottom: 5px;
  }

  .inputBox .searchBar{

    display: flex;
  }

  .search-suggesions span{
    font-size: medium;
color: rgb(168, 168, 168);

  }

 .inputBox input{

  border-radius: 10em;
padding: 0.5em;
width: 100%;
outline: 0;
border: transparent;
 animation: searchinput 0.55s ease-in-out;
 animation-direction: normal;



  }
  .inputBox fa-icon{


    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

.inputBox input::placeholder{
  color: rgb(207, 207, 207);
}

.inputBox input:hover::placeholder{
  color: rgb(139, 129, 117);
}

  .inputBox input:hover{

    background: rgb(229, 229, 229 ) ;
  }

  .activeSearchcontainer{

    display: block;

  }
  .search-container button{

   border: 0;
   background: none;
   margin: 0;
   align-items: center;


  }

  .search-container button:hover{

    color: rgb(80, 80, 80)


   }
  .search-container a{
padding-top: 5px;
    outline: 0;
   text-decoration: none;
   font-weight: 100;
transform: rotateY(10deg) ;

  }

  .search-container a:hover{

    color: rgb(80, 80, 80)


   }


  .nav-end fa-icon{

    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;




  }




@keyframes dropdown{
    0%{
        opacity: 0;
        transform: scale(0px);
    }
    40%{
        transform: scale(50px);
    }
    70%{
        transform: scale(70px);
    }
    100%{
        opacity: 1;
        transform: scale(100px);
    }
  }
 @keyframes searchinput {

0%{
opacity: 0;
width: 0%;
}

40%{

width: 40%;

}

75%{

  width: 70%;

  }

  100%{
opacity: 1;
    width: 100%;
  }






    }

@keyframes searchsuggestions {

      0%{
      opacity: 0;
      }

      40%{

      height: 25%;

      }

      75%{

        height: 50%;

        }

        100%{

          height: 100%;
        }






          }

@media screen and (max-width:990px) {
    .nav-line{
        border-bottom: none;
    }
    .nav-line:hover{
        border-bottom:none;
        transform: scale(1);
    }
    .nav-li-dropdown:hover .nav-line{
        border-bottom: none;
        transform: scale(1);
    }
    .nav-li-dropdown:hover .dropdown-list{
        display:none;

     }
    .navbar{
        padding: 10px 20px !important;
    }
    .nav-li-dropdown{
        margin-top: 15px;
    }
    .nav-end{
        display: none;
    }
    .logo-nav{
        margin: 0 0 0 auto !important;

    }
    .navbar-brand{
        margin: 0 !important;
    }
}
