<header>
  <nav class="navbar navbar-expand-lg bg-light p-0" id="lower-nav">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggler()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-3 logo-nav">
      <a href="#" class="navbar-brand"
        ><img src="../../../assets/images/icons8-clothes-32.png" alt=""
      /></a>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ collapse: collapsed }">
      <ul class="navbar-nav navbar-ul m-auto nav-ul">
        <li class="nav-item nav-li-dropdown position-static">
          <a href="#" class="nav-link nav-line">Men</a>
          <div class="dropdown-list bg-light">
            <div class="container">
              <ul class="navbar-nav row">
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item nav-li-dropdown position-static">
          <a href="" class="nav-link nav-line">Women</a>
          <div class="dropdown-list bg-light">
            <div class="container">
              <ul class="navbar-nav row">
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item nav-li-dropdown position-static">
          <a href="" class="nav-link nav-line">Kids</a>
          <div class="dropdown-list bg-light">
            <div class="container">
              <ul class="navbar-nav row">
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item nav-li-dropdown position-static">
          <a href="" class="nav-link nav-line">Rent</a>
          <div class="dropdown-list bg-light">
            <div class="container">
              <ul class="navbar-nav row">
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Shirt</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
                <li class="col-3"><a href="" class="nav-link">Pants</a></li>
                <li class="col-3"><a href="" class="nav-link">Shoes</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="nav-end">
      <div class="header-icons">
        <fa-icon icon="magnifying-glass" class="header-search" (click)="searchContainer()"></fa-icon>
        <fa-icon icon="cart-shopping" class="header-cart"></fa-icon>
      </div>
    </div>
  </nav>
  <div class="search-container bg-light">
    <div class="row">
      <div class="col-2 text-start">
        <a href="#" class="mx-3"
          ><img src="../../../assets/images/icons8-clothes-32.png" alt=""
        /></a>
      </div>
      <div class="inputBox col-8">
        <div class="inputBox">
          <div class="search-items">
            <span> <fa-icon icon="magnifying-glass"></fa-icon></span>
            <input type="search" placeholder="Search" />
          </div>
        </div>
        <br />
        <div class="search-suggesions">
          <span>Top Suggestions</span>
          <br /><br />
          <ul class="navbar-nav">
            <li><a href="" class="nav-link">Air force</a></li>
            <li><a href="" class="nav-link">T-shirt</a></li>
            <li><a href="" class="nav-link">Pants</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2 text-end">
        <button (click)="removeContainer()" class="mx-3">Cancel</button>
      </div>
    </div>
  </div>
</header>
