:host{
    position: sticky;
    top: 0;
    z-index: 9999;
}

.container-drop{
    max-width: 650px ;
    margin:15px auto;
}

    
.nav-li-dropdown{
    position: relative;
}

.dropdown-list{
    position:absolute;
    display: none;
    padding: 20px 0px;
    left: 0;
    right: 0; 
    z-index: -1;
}

.nav-li-dropdown:hover .dropdown-list{
   display: block;
   animation: dropdown 0.4s ease-in-out ;
}
.nav-li-dropdown{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    z-index: 999;
   

}
.nav-line{
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
   
}
.nav-line:hover{
    border-bottom: 2px solid black;
    color: black;
    transform: scale(1.1); 
   
}
.nav-li-dropdown:hover .nav-line{
    border-bottom: 2px solid black;
    color: black;
    transform: scale(1.1);  
   
}



@keyframes dropdown{
    0%{
        opacity: 0;
        transform: scale(0px);
    }
    40%{
        transform: scale(50px);
    }
    70%{
        transform: scale(70px);
    }
    100%{
        opacity: 1;
        transform: scale(100px);
    }
}
@media screen and (max-width:990px) {
    .nav-line{
        border-bottom: none;
    }
    .nav-line:hover{
        border-bottom:none;
        transform: scale(1);  
    }
    .nav-li-dropdown:hover .nav-line{
        border-bottom: none;  
        transform: scale(1);      
    }
    .nav-li-dropdown:hover .dropdown-list{
        display:none;
        
     }
    .navbar{
        padding: 10px 20px !important;
    }
    .nav-li-dropdown{
        margin-top: 15px;
    }
    .nav-end .bag-link{
        display: none;
    }
    .logo-nav{
        margin: 0 0 0 auto !important;
       
    }
    .navbar-brand{
        margin: 0 !important;
    }
}
