<div class="container pad-sections">
  <div class="accountCont m-auto row g-0">
    <div class="col-lg-4 pe-lg-4">
      <!-- <div class="mb-4">
        <div class="text-center">
          <img src="{{userDetails?.imgUrl}}" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
          <input type="file" formControlName="imageUrl" class="custom-file-input">
        </div>
      </div> -->
    </div>
    <div class="col-lg-6 mt-lg-0 mt-5 ">
      <form [formGroup]="userInfo" (ngSubmit)="changeDetails()">
          
          <div class="accountEditDetails">
            <div class="row ">
              <div class="col-6 position-relative">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" value="{{userDetails?.fName}}" formControlName="fName" placeholder="first name">
              </div>
              <div class="col-6 ">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" value="{{userDetails?.lName}}" formControlName="lName" placeholder="last name">
              </div>
            </div>
            <div class="mt-4">
              <label for="Username">Username</label>
              <input type="text" class="form-control" value="{{userDetails?.userName}}" disabled>
  
            </div>
            <div class="mt-4">
              <label for="email">Email</label>
              <input type="text" class="form-control" formControlName="email" value="{{userDetails?.email}}" placeholder="email">
  
            </div>
            <div class="mt-4">
              <label for="address">Address</label>
              <input type="text" class="form-control" formControlName="address" value="{{userDetails?.address}}" placeholder="address">
  
            </div>
            <div class="mt-4">
              <label for="Username">Phone</label>
              <input type="text" class="form-control" value="{{userDetails?.phoneNumber}}" formControlName="phoneNumber" placeholder="01233123323" >
  
            </div>
            <!-- <div class="mt-4">
              <label for="enail">Email</label>
                <input type="email" class="form-control" placeholder="first name">
    
            </div> -->
            <div class="mt-4">
              <app-main-button type="submit" content="Save Changes"></app-main-button>
  
            </div>
          </div>
      </form>
      <div class="">
        <!-- <form>
          <div class="accountEditDetails  mt-5 py-4">
            <div class="mt-4">
              <label for="enail">Current Password</label>
              <input type="password" class="form-control" placeholder="current password .. ">
      
            </div>
            <div class="mt-4">
              <label for="enail">New Password</label>
              <input type="password" class="form-control" placeholder="new password .. ">
      
            </div>
            <div class="mt-4">
              <label for="enail">Confirm Password</label>
              <input type="password" class="form-control" placeholder="confirm password .. ">
      
            </div>
            <div class="mt-4">
              <app-main-button content="Save Changes"></app-main-button>
      
            </div>
          </div>
        </form> -->
      </div>
    </div>
    
  </div>

</div>
