:host{
   font-family: var(--main-font); 
}
.accountCont{
    box-sizing: border-box;

}


.accountEditDetails label{
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: var(--secondary-font); 
    font-weight: 500;
    color: var(--main-color);
}
input::placeholder{
    font-family: var(--button-font);
}

@media screen and (max-width:600px) {
    .accountCont{
        width: 75%;
    
    }
}