<div class="container pad-sections">
  <div class="accountCont">
    <div class="row g-0">
      <div class="col-lg-4 pe-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Upload Photo</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8 accountEditDetails">
        <div class="row ">
          <div class="col-6">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" placeholder="first name">
          </div>
          <div class="col-6 ">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" placeholder="last name">
          </div>
        </div>
        <div class="mt-4">
          <label for="enail">Email</label>
            <input type="email" class="form-control" placeholder="email">

        </div>
        <div class="mt-4">
          <label for="enail">Address</label>
            <input type="email" class="form-control" placeholder="address">

        </div>
        <div class="mt-4">
          <label for="enail">Street,Apartment</label>
            <input type="email" class="form-control" placeholder="street no.">

        </div>
        <div class="mt-4">
          <label for="enail">Email</label>
            <input type="email" class="form-control" placeholder="first name">

        </div>
        <div class="mt-4">
          <app-main-button content="Save Changes"></app-main-button>

        </div>
      </div>
      <div class="offset-lg-4 col-lg-8 accountEditDetails mt-5 py-4">
        <div class="mt-4">
          <label for="enail">Current Password</label>
            <input type="password" class="form-control" placeholder="current password .. ">

        </div>
        <div class="mt-4">
          <label for="enail">New Password</label>
            <input type="password" class="form-control" placeholder="new password .. ">

        </div>
        <div class="mt-4">
          <label for="enail">Confirm Password</label>
            <input type="password" class="form-control" placeholder="confirm password .. ">

        </div>
        <div class="mt-4">
          <app-main-button content="Save Changes"></app-main-button>

        </div>
      </div>
    </div>
  </div>
</div>