.btn-custom {
    background-color: var(--main-color);
    font-size: 1.1rem;  
  }
  
  .btn-custom:hover {   
    background-color: var(--hover-color);
  }
  @media screen and (min-width:740px) {
    .btn-w{
        width: 35% !important;
    }
}