<div class="card">
  <div class="product-box">
    <div class="product-img position-relative">
      <div class="ribbon-danger" *ngIf="product.rentable">Rent</div>
      <div class="ribbon-success" *ngIf="product.sale > 0">Sale</div>
      <a>
        <img
          class="img-fluid position-relative"
          height="70px"
          src="{{ product.productImages[0].imageUrl }}"
          alt=""
        />
      </a>
      <div
        class="product-hover position-absolute"
        [routerLink]="['/shop/product', product.productId]"
      >
        <ul>
          <li
            (click)="addToFav(product,$event)"
            [ngClass]="{ favIcon: favouriteList.includes(product)}"
          >
            <a
              ><fa-icon
                id="{{ product.productId }}"
                [ngClass]="{ favIcon: favouriteList.includes(product)}"
                icon="heart"
              ></fa-icon
            ></a>
          </li>
          <!-- <li [routerLink]="['/shop/product', product.productId]">
            <a
              ><fa-icon
                [routerLink]="['/shop/product', product.productId]"
                icon="shopping-cart"
              ></fa-icon
            ></a>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="product-details">
      <div>
        <app-rating [product]="rating"></app-rating>
      </div>
      <h4>
        {{ product.productName }}
      </h4>

      <p>{{ product.type }}</p>
      <div class="product-price">
        {{ product.price }} EGP
        <del *ngIf="product.sale > 0">{{ product.sale }} EGP</del>
      </div>
    </div>
  </div>
</div>
