<div class="container pb-5">


    <div class="dash-icons mt-3 row g-3 d-flex justify-content-center align-items-center dashboardCont">
        <div class="p-3">
            <h5>Hello Ahmed !</h5>
            <p style="color: #9b9a9a;">From your account dashboard you can view your recent orders, manage your profile, and edit your password and account details.</p>
        </div>
        <div class="text-center col-5 col-lg-3 mx-2 p-5 " [routerLink]="['/profile/details']" [routerLinkActive]="['active', 'text-white']">
        <fa-icon [icon]="['fas','user']"></fa-icon>
        <h4 style="font-size: 1.5rem;">Profile</h4>
       </div>
       <div class="text-center col-5 col-lg-3 mx-2 p-5" [routerLink]="['/profile/myorders']" [routerLinkActive]="['active', 'text-white']">
        <fa-icon [icon]="['fas','basket-shopping']"></fa-icon>
        <h4 style="font-size: 1.5rem;">Orders</h4>
       </div>
       <div class="text-center col-5 col-lg-3 mx-2 p-5" [routerLink]="['/profile/fav']" [routerLinkActive]="['active', 'text-white']">
        <fa-icon [icon]="['fas','heart']"></fa-icon>
        <h4 style="font-size: 1.5rem;">Favourites</h4>
       </div>
       <div class="text-center col-5 col-lg-3 mx-2 p-5" [routerLink]="['/profile/details']" [routerLinkActive]="['active', 'text-white']">
        <fa-icon [icon]="['fab','sellsy']"></fa-icon>
        <h4 style="font-size: 1.5rem;">Products</h4>
       </div>
       <div class="text-center col-5 col-lg-3 mx-2 p-5" [routerLink]="['/profile/edit']" [routerLinkActive]="['active', 'text-white']">
        <fa-icon [icon]="['fas','rectangle-list']"></fa-icon>
        <h4 class="edit-small" style="font-size: 1.5rem;">Edit</h4>
       </div>
       <div class="text-center col-5 col-lg-3 mx-2 p-5" [routerLink]="['/shop']" [routerLinkActive]="['active', 'text-white']">
        <fa-icon [icon]="['fas','cart-shopping']"></fa-icon>
        <h4 style="font-size: 1.5rem;">Shop</h4>
       </div>
    </div>



</div>
