<div id="tableContainer2">
  <div class="container">
    <table class="table text-center">
      <thead>
        <tr>
          <th>orderNumber</th>
          <th>orderDate</th>
          <th>Price</th>
          <th>status</th>

          <th>.</th>
        </tr>
      </thead>
      <tbody class="tableContent">
        <ng-container *ngFor="let order of myOrders; let i = index">
          <tr>
            <td>
              {{ order.orderNumber }}
            </td>

            <td>
              {{ order.orderDate }}
            </td>
            <td>
              {{ order.totalPrice }}
            </td>

            <td>
              {{ order.status }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div id="noFavsDiv" class="noOrders">
  <fa-icon icon="cart-shopping"></fa-icon>
  <p>No orders placed</p>
</div>
