<div *ngIf="myOrders.length > 0" class="orderstitle pad-sections px-3">
  <h1>My Shopping History</h1>
</div>

<div
  *ngIf="myOrders.length > 0"
  class="g-0 position-relative"
  id="ordersContainer"
>
  <div
    *ngFor="
      let order of myOrders
        | paginate
          : {
              itemsPerPage: pageSize,
              currentPage: pageNumber,
              totalItems: count
            };
      let i = index
    "
  >
    <div class="card w-75 g-0 my-5 mx-lg-auto mx-auto shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <p class="card-title d-flex flex-column">
            <label> Total Price </label
            ><span class="py-1"> {{ order.totalPrice }} EGP </span>
          </p>

          <p class="card-title d-flex flex-column">
            <label> Order Units </label
            ><span class="py-1"> {{ order.quantity }} </span>
          </p>
          <p class="card-title d-flex flex-column">
            <label> Status</label>
            <span
              class="py-1 delivered-class"
              *ngIf="order.status == 'Delivered'"
            >
              {{ order.status }}</span
            >
            <span
              class="py-1 ongoing-class"
              *ngIf="
                order.status == 'Pending' ||
                order.status == 'Shipped' ||
                order.status == 'Confirmed'
              "
            >
              {{ order.status }}</span
            >

            <span class="py-1 failed-class" *ngIf="order.status == 'Cancelled'">
              {{ order.status }}</span
            >
          </p>
        </div>
        <br />
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-start">
            <p class="card-title d-flex flex-column">
              <label> order No.</label
              ><span class="py-1"> #{{ order.orderId }}</span>
            </p>
          </div>
          <p class="card-title d-flex flex-column">
            <label> Payment Method </label>
            <span class="py-1"> {{ order.paymentMethod }}</span>
          </p>
          <p class="card-title d-flex flex-column">
            <label> Ordered On </label>
            <span class="py-1"> {{ order.dateTime }}</span>
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <app-main-button
            content="Track Order"
            iconLeft="shipping-fast"
            class="traceB"
            id="app-button"
            [routerLink]="['/trace-order', order.orderId]"
          ></app-main-button>
          <label class="pt-3"
            >*note: you can't cancel your order after being confirmed</label
          >
          <app-main-button
            *ngIf="order.status != 'Pending'"
            content="Cancel Order"
            iconLeft="cancel"
            class="px-3"
            id="app-button"
            [disabledBtn]="true"
          ></app-main-button>
          <app-main-button
            *ngIf="order.status == 'Pending'"
            content="Cancel Order"
            iconLeft="cancel"
            class="px-3"
            id="app-button"
            (click)="cancelOrder(order.orderId, 'order cancelled succesfully')"
          ></app-main-button>
        </div>
        <app-toaster></app-toaster>
      </div>
    </div>
  </div>
  <div class="paginationCustom">
    <pagination-controls
      class="my-pagination"
      (pageChange)="getOrders($event)"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
</div>

<div *ngIf="myOrders.length === 0" id="noOrdersid" class="noOrders">
  <fa-icon icon="cart-shopping"></fa-icon>
  <p>No orders placed</p>
</div>
