<div *ngIf="myOrders.length > 0" class="orderstitle pad-sections px-3">
  <h1>My Orders</h1>
</div>

<div
  *ngIf="myOrders.length > 0"
  class="g-0 position-relative"
  id="ordersContainer"
>
  <ng-container
    *ngFor="
      let order of myOrders | paginate : { itemsPerPage: 3, currentPage: p };
      let i = index
    "
  >
    <div class="card w-75 g-0 my-5 mx-lg-auto mx-auto shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 class="card-title">Price : {{ order.totalPrice }}$</h4>
          <p class="">
            Status : <span> {{ order.status }}</span>
          </p>
        </div>
        <br />
        <div class="d-flex justify-content-between">
          <p>
            order number :<span> {{ order.orderNumber }}</span>
          </p>
          <p class="card-text">
            Delivery Date :<span> {{ order.orderDate }}</span>
          </p>
        </div>
        <div class="traceButton">
          <app-main-button
            content="Track Order"
            id="app-button"
            width="150px"
            [routerLink]="['/trace-order', order.orderNumber]"
          ></app-main-button>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="d-flex justify-content-center p-0">
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </div>
</div>

<div *ngIf="myOrders.length === 0" id="noOrdersid" class="noOrders">
  <fa-icon icon="cart-shopping"></fa-icon>
  <p>No orders placed</p>
</div>
