*{

  font-family: var(--main-font);
}
.noOrders{

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 10vh;
  height: 100%;
  color: var(--main-color);

}

.noOrders p{

  font-family: var(--main-font);
}


.removeorders {

background-color: black;

}

.orderstitle h1{

  font-family: var(--main-font);
  color: var(--main-color);
  text-align: center;
}

.card{

  border-radius: 15px;
  border-color: var(--main-color);
  cursor: pointer;
}

.card span{

  font-family: 'Times New Roman', Times, serif;
}

.card h4{

  color: var(--main-color);
}
