.loginError{
    position: absolute;
    top: 20%;
    width: 50%;
    
    text-align: center;
}
.form-content input{
        background-color: transparent !important;
        border-width: 0 0 1px 0 !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        text-shadow: none !important;
        outline: 0 !important;
    
}
/* .login-form-content input::placeholder{


} */