<div class="pad-sections">
  <div class="row text-center">
    <div class="col-12 col-md-6 col-lg-3">
      <div class="features-icons">
        <fa-icon icon="envelope"></fa-icon>
      </div>
      <div class="features-content">
        <h5>Online Support 24/7</h5>
        <p>Dedicated support</p>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0 col-lg-3">
      <div class="features-icons">
        <fa-icon icon="truck-fast"></fa-icon>
      </div>
      <div class="features-content">
        <h5>Fast and Free Delivery</h5>
        <p>Free delivery on all orders</p>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0 col-lg-3">
      <div class="features-icons">
        <fa-icon icon="lock"></fa-icon>
      </div>
      <div class="features-content">
        <h5>Payment Secure</h5>
        <p>100% secure payment</p>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-5 mt-md-0 col-lg-3">
      <div class="features-icons">
        <fa-icon icon="money-bill-transfer"></fa-icon>
      </div>
      <div class="features-content">
        <h5>Money Back Guarantee</h5>
        <p>If good have Problems</p>
      </div>
    </div>
  </div>
</div>
