
.information-section h1{


  color: var(--main-color);
  font-family: var(--main-font);
}

.information-section p{
  line-height: 1.7;
  font-family: var(--main-font);
}
.aboutus-photo img{
  animation: fadeInDown 0.5s ease-in-out;
    height: 50vh;
    background-size: cover;
  }





