<div class="about-us-section container justify-content-center pad-sections">
  <div class="waw-section row justify-content-center text-center pad-sections">
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-2">
      <h1 class="mb-2">Who are we?</h1>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <img class="col-lg-9" src="\assets\images\who-are-we-aysdn.jpeg" alt="" />
  </div>
  <div class="waw-section row justify-content-center text-center pad-sections">
    <div class="col-lg-8 col-md-6 col-sm-4 col-xs-2">
      <h1>Our Story</h1>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      </p>
    </div>
    <img class="col-lg-9" src="\assets\images\who-are-we-aysdn.jpeg" alt="" />
  </div>
  <div class="waw-section row justify-content-center text-center pad-sections">
    <div class="col-lg-8">
      <h1>Did you know?</h1>
      <br />
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in represshenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <img class="col-lg-9" src="\assets\images\who-are-we-aysdn.jpeg" alt="" />
  </div>
</div>
