<!-- About us page starting from here-->
<!-- starting with information about the website part-->
<div class="aboutus-photo">
  <img
    src="../../../assets/images/about.png"
    class="img-fluid"
    alt=""
    width="100%"
    height="50%"
  />
</div>
<div class="about-us-section container justify-content-center pad-sections">
  <div
    class="information-section row justify-content-center text-center pad-sections"
  >
    <div data class="col-lg-8">
      <h1 class="mb-2">Who are we?</h1>
      <br />
      <p>
        The Dressify E-commerce System is a web-based platform designed to
        provide customers with a convenient and personalized shopping experience
        for clothing items. The system will enable customers to browse and
        purchase clothing items. Vendors will be able to register as sellers and
        sell their clothing items through the platform.
      </p>
    </div>
    <img class="col-lg-9" src="\assets\images\who-are-we-aysdn.jpeg" alt="" />
  </div>
  <div
    class="information-section row justify-content-center text-center pad-sections"
  >
    <div class="col-lg-8">
      <h1>Our Motivation</h1>
      <br />
      <p>
        The motivation behind developing this online Dressify E-commerce System
        is to provide an efficient and convenient way for customers to purchase
        clothing items, while also providing vendors with a platform to sell
        their products online. The online marketplace industry has been growing
        rapidly in recent years, and there is a need for innovative and
        customer-friendly platforms that can stand out from the competition.
      </p>
    </div>
    <img class="col-lg-9" src="\assets\images\who-are-we-aysdn.jpeg" alt="" />
  </div>
  <div
    class="information-section row justify-content-center text-center pad-sections"
  >
    <div class="col-lg-8">
      <h1>Our Recommendation System</h1>
      <br />
      <p class="text-left">
        The recommendation system is a crucial aspect of this project. By
        analyzing customers' past purchases rating and preferences, we can
        provide tailored product suggestions that align with their individual
        tastes. This personalized approach allows customers to discover new
        clothing items that resonate with their style and preferences,
        ultimately making their shopping journey more enjoyable and engaging.
      </p>
    </div>
    <img class="col-lg-9" src="\assets\images\who-are-we-aysdn.jpeg" alt="" />
  </div>
</div>
<!-- using main categories shared component -->

<div>
  <app-main-categories></app-main-categories>
</div>
<!-- using features-section shared component -->

<div>
  <app-features-section></app-features-section>
</div>
