<div class="container pad-sections">
  <div class="row">
    <div class="productImg col-xl-7 col-6">
      <div class="productBigImg py-2">
        <img src="{{ myprod.img }}" alt="sss" width="100%" />
      </div>
      <div class="productSmallimgs">
        <img
          src="{{ myprod.img }}"
          alt=""
          width="15%"
          (click)="changePhoto(myprod.img)"
        />
        <img
          class="px-2"
          src="assets\images\contactus.jpg"
          alt=""
          width="15%"
          (click)="changePhoto('assets/images/contactus.jpg')"
        />
        <img
          src="assets\images\formal.jpg"
          alt=""
          width="15%"
          (click)="changePhoto('assets/images/formal.jpg')"
        />
      </div>
    </div>
    <div class="productDetails col-xl-5 col-6">
      <h1 class="productName">{{ myprod.ProdName }}</h1>
      <h5 class="productCategory py-2">{{ myprod.note }}</h5>
      <label class="productPrice py-2">${{ myprod.Price }}</label>

      <div class="productSize py-2">
        <label class="productLabel">Select your Size</label>
        <ul class="productSizes py-3 list-unstyled">
          <li>
            <input
              type="radio"
              id="xs"
              name="size"
              value="xs"
              [(ngModel)]="myprod.size"
            />

            <label for="xs" class="productsingelSize">XS </label>

            <input
              type="radio"
              id="s"
              name="size"
              value="s"
              [(ngModel)]="myprod.size"
            />

            <label for="s" class="productsingelSize">s </label>

            <input
              type="radio"
              id="m"
              name="size"
              value="m"
              [(ngModel)]="myprod.size"
            />

            <label for="m" class="productsingelSize">M </label>

            <input
              type="radio"
              id="l"
              name="size"
              value="l"
              [(ngModel)]="myprod.size"
            />

            <label for="l" class="productsingelSize">L </label>

            <input
              type="radio"
              id="xl"
              name="size"
              value="xl"
              [(ngModel)]="myprod.size"
            />

            <label for="xl" class="productsingelSize">XL </label>

            <input
              type="radio"
              id="xxl"
              name="size"
              value="xxl"
              [(ngModel)]="myprod.size"
            />

            <label for="xxl" class="productsingelSize">XXL </label>

            <input
              type="radio"
              id="xxxl"
              name="size"
              value="xxxl"
              [(ngModel)]="myprod.size"
            />

            <label for="xxxl" class="productsingelSize">xxxl </label>

            <input
              type="radio"
              id="xxxxl"
              name="size"
              value="xxxxl"
              [(ngModel)]="myprod.size"
            />

            <label for="xxxxl" class="productsingelSize">XxxxL </label>
          </li>
        </ul>
      </div>

      <div class="productColors">
        <label class="productLabel">Select Your Color</label>

        <ul
          class="custom-radios btn-toggle-nav list-unstyled fw-normal small d-flex py-3"
        >
          <li *ngFor="let col of myprod.color">
            <input
              type="radio"
              id="{{ col.value }}"
              name="color"
              value="{{ col.value }}"
              [(ngModel)]="myprod.colorChosen"
            />
            <label for="{{ col.value }}">
              <span style="background-color: {{ col.label }}">
                <fa-icon icon="check"></fa-icon>
              </span>
            </label>
          </li>
        </ul>
      </div>
      <div class="productButtons d-flex">
        <button
          (click)="addToCart(myprod)"
          class="addtoCartButton btn btn-custom py-2"
        >
          <fa-icon icon="shopping-cart" class="favoriteIcon"></fa-icon>
          Add to Cart
        </button>
        <button class="favoriteButton btn btn-custom mx-2">
          <fa-icon icon="heart" class="favoriteIcon mx-1"></fa-icon>Favorite
        </button>
      </div>
      <div class="py-4">
        <label class="productLabel px-2"> Select Your Quantity : </label>
        <input
          type="number"
          class="text-center productQuantity"
          min="1"
          max="10"
          value="1"
          [(ngModel)]="myprod.quantity"
        />
      </div>
    </div>
  </div>
</div>

<hr />

<div class="similarProducts">
  <div class="container pad-sections">
    <h3 class="similarProductsHeader">Similar Products</h3>

    <div class="row">
      <div
        class="card col-xl-4 col-6 d-flex"
        *ngFor="let newProd of prods | slice : 0 : 3"
      >
        <app-productbox class="w-75" [product]="newProd"></app-productbox>
      </div>
    </div>
  </div>
</div>
