.productSizes input[type=radio]:checked+.productsingelSize {
  background-color: var(--main-color);
  color: white;

}

.productSizes input {
  display: none;
}

.productSizes .productsingelSize {

  color: var(--main-color);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #e5e5e5;
  padding: 6px 25px;
  margin-bottom: 9px;
  margin-right: 5px;
  cursor: pointer;



}
.ratecount {


  color: var(--gray-color);
  font-family: var(--button-font);
}
.prodratingheader2{

  color:var(--gray-color);
  font-family: var(--main-font)
}
.productCategory {

  color: var(--gray-color);
  font-family: var(--button-font);
  font-weight: 700;
  line-height: 1.5;




}

.productDiscount {

  font-family: var(--button-font);
  color: var(--gray-color);
}



.productRent fa-icon {
  color: var(--hover-color);
}

.productRent {

  font-family: var(--button-font);
  color: var(--hover-color);
  font-weight: bold;
  font-size: 15px;


}

.productNoRent{
  font-family: var(--button-font);
  color: var(--red-color);
  font-weight: bold;
  font-size: 15px;

}

.custom-radios input[type=radio] {
  display: none;
}

.bigImg.fadeInLeft {
  animation: fadeIn 0.7s !important;

}

.custom-radios input[type=radio]+label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}

.custom-radios input[type=radio]+label span fa-icon {
  opacity: 0;
  transition: all 0.3s ease;

  color: var(--main-color);
}

.productSmallimgs:hover {
  border: 2px solid var(--main-color);
  transition: 0.5s ease-in-out;

}

.productSmallimgs.selected {

  border: 2px solid var(--main-color);
  transform: scale(1.06);
  transition: 0.5s ease-in-out;


}

.productSmallimgs {

  border: 2px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.custom-radios input[type=radio]:checked+label span fa-icon {
  opacity: 1;

}

.productLabel {

  color: grey;
  text-transform: uppercase;
  font-family: var(--main-font);

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {

  outline: none;

}

.productDetails .productName {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-color);
  text-transform: capitalize;
}

.productDetails .productPrice {

  font-family: var(--main-font);
  font-size: 50px;
}



.addtoCartButton {
  background-color: var(--main-color);
  font-size: 1.1rem;
  color: aliceblue;
  font-family: var(--main-font);
}

.addtoCartButton:hover {
  color: white;
  background-color: var(--tertiary-color);
  border: 1px solid var(--main-color);
}

.favoriteButton {
  background-color: rgb(152, 152, 152);
  font-size: 1.1rem;
  color: aliceblue;
  font-family: var(--main-font);
}

.favoriteButton:hover {
  background-color: rgb(70, 69, 69);
  color: white;
}


.productQuantity {
  outline: none;
  border-color: var(--main-color);
  border-radius: 9px 9px 9px 9px;


}

.prodh3 {
  font-family: var(--main-font);
  color: var(--main-color);
  text-transform: uppercase;

}






.prodDetails p:first-child {
  color: var(--main-color);
  font-family: var(--main-font);
}

.buttons {

  margin: 0 0 0 0;
  padding: 0 0 0 0 !important;
}


.answer-container {

  width: 40%;
}

.questionsection strong {


  color: var(--gray-color);
  font-family: var(--button-font);
}

.questionsection {
  animation: fadeInUp 0.5s ease-in-out;

  border-bottom: 1px solid #ccc;
}

.adding-question .addlabel {

  color: var(--main-color);
  font-family: var(--main-font);
}

.adding-question a {
  color: default;
  text-decoration: none;
  cursor: pointer;
}

.error-note {
  margin-top: 0.5rem;
}



fieldset {
  margin-bottom: 1em !important;
  border: 1px solid black !important;
  padding: 1px !important;
}

.questionform {

  border: 1px var(--hover-color) solid;
  width: 50%;

}

form label {

  color: var(--main-color);
  font-family: var(--main-font);
}

.inStock {

  color: var();
  font-family: var(--main-font);
  color: var(--hover-color);
}

.outOfStock {
  color: var(--red-color);
  font-family: var(--main-font);
}

.input-number input {
  border: none;
  text-align: center;
  background-color: transparent;
}

.input-number button {
  width: 5%;
  font-size: 18px;
  background: var(--main-color);
  color: #ffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-number button:hover {
  background-color: #ddd;
  color: var(--main-color);
}


.minus {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.plus {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


@media screen and (min-width:740px) {
  .btn-w {
    width: 35% !important;
  }

}

@media screen and (min-width:768px) and (max-width:995px) {
  .productSmallimgs {
    width: 20%;
  }

  .bigImg {
    width: 100%;
    height: 500px;
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

input[type=number] {
  -moz-appearance: textfield;
  width: 40px;
}


.prodRating .prodratingheader{

  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 125px;
}
.prodRating .prodratingheader span{

  font-family: var(--main-font);
  color: var(--gray-color);
font-size :50px
}
.totalrating {

  width: 100%;
}
i {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: #ffa800;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.my-pagination ::ng-deep .ngx-pagination {
  color: var(--main-color);
  padding-top: 10px;
  margin-left: 20px;
}


.my-pagination ::ng-deep .ngx-pagination .current {
  background-color: var(--main-color);
  text-decoration: none;

}

.my-pagination ::ng-deep .ngx-pagination .current span {
  color: white;
}

.my-pagination ::ng-deep .ngx-pagination  a {
  text-decoration: none;
  font-family: var(--main-font);
}
.prodRating .card{
  box-shadow: 3px solid white;
  border-radius: 0;

  animation: fadeInRight 0.5s ease-in-out;}


  .card label{

    font-family: var(--main-font);
    color: var(--main-color);
  }
.error{
color: red;
left: 0;
padding-left: 10px;
font-size: 0.7rem;
position: absolute;


}
.userRatings{

  width: 50%;
}


.questionform{

  width: 50%;
}

@media screen  and (max-width:1000px){
  .userRatings{
  width: 100%;
  }
  .questionform{
    width: 100%;
    }
}


.loginerror{

  color: var(--red-color);
  font-family: var(--main-font);
}
.loginerror a{

  color: var(--main-color);
}
.rateerror{

  font-size: small;
  color: var(--red-color);
  font-family: var(--main-font);
}
