<div class="container pad-sections">
  <div class="row">
    <div class="productImg col-xl-6 col-md-6 col-12 mb-lg-0 mb-5">
      <div class="productBigImg py-2">
        <img
          class="bigImg"
          src="{{ myprod.img }}"
          alt="sss"
          width="80%"
          [ngClass]="{ fadeInLeft: isBigPhotoUpdated }"
          (load)="isBigPhotoUpdated = true"
        />
      </div>
      <div class="smallImgDiv mt-3">
        <img
          class="productSmallimgs mx-2"
          src="{{ myprod.img }}"
          [ngClass]="{ selected: selectedPhoto === myprod.img }"
          alt=""
          width="17%"
          (click)="changePhoto(myprod.img)"
        />
        <img
          class="productSmallimgs mx-2"
          src="assets\images\02.jpg"
          [ngClass]="{ selected: selectedPhoto === 'assets/images/02.jpg' }"
          alt=""
          width="17%"
          (click)="changePhoto('assets/images/02.jpg')"
        />
        <img
          class="productSmallimgs mx-2"
          src="assets\images\04.jpg"
          alt=""
          [ngClass]="{ selected: selectedPhoto === 'assets/images/04.jpg' }"
          width="17%"
          (click)="changePhoto('assets/images/04.jpg')"
        />
      </div>
    </div>
    <hr class="d-lg-none d-md-none d-xl-none d-block" />
    <div class="productDetails col-xl-6 col-12 col-md-6 mt-lg-0 mt-4">
      <h1 class="productName">{{ myprod.ProdName }}</h1>
      <label class="productRent" *ngIf="myprod.rent">
        <fa-icon class="px-1" icon="circle-check"></fa-icon> Avaliable for
        rent</label
      >

      <label class="productNoRent" *ngIf="!myprod.rent">
        <fa-icon class="px-1" icon="times"></fa-icon> Currently not available
        for rent</label
      >
      <br />
      <div class="rating px-2 py-2">
        <app-rating [product]="myprod"></app-rating>
        ( {{ myprod.rating }} )
      </div>

      <hr />
      <div class="productCategory py-2">{{ myprod.details }}</div>
      <hr />
      <div class="productPriceDiscount">
        <label class="productPrice">{{ myprod.Price }} EGP</label>
        <del class="productDiscount py-2">{{ myprod.discount }} EGP</del>
      </div>
      <div class="productSize py-2">
        <label class="productLabel">Select your Size</label>
        <ul class="productSizes py-3 list-unstyled">
          <li>
            <input
              type="radio"
              id="xs"
              name="size"
              value="xs"
              [(ngModel)]="myprod.size"
            />

            <label for="xs" class="productsingelSize">XS </label>

            <input
              type="radio"
              id="s"
              name="size"
              value="s"
              [(ngModel)]="myprod.size"
            />

            <label for="s" class="productsingelSize">S </label>

            <input
              type="radio"
              id="m"
              name="size"
              value="m"
              [(ngModel)]="myprod.size"
            />

            <label for="m" class="productsingelSize">M </label>

            <input
              type="radio"
              id="l"
              name="size"
              value="l"
              [(ngModel)]="myprod.size"
            />

            <label for="l" class="productsingelSize">L </label>

            <input
              type="radio"
              id="xl"
              name="size"
              value="xl"
              [(ngModel)]="myprod.size"
            />

            <label for="xl" class="productsingelSize">XL </label>

            <input
              type="radio"
              id="xxl"
              name="size"
              value="xxl"
              [(ngModel)]="myprod.size"
            />
          </li>
        </ul>
      </div>

      <div class="productColors">
        <label class="productLabel">Select Your Color</label>

        <ul
          class="custom-radios btn-toggle-nav list-unstyled fw-normal small d-flex py-3"
        >
          <li *ngFor="let col of myprod.color">
            <input
              type="radio"
              id="{{ col.value }}"
              name="color"
              value="{{ col.value }}"
              [(ngModel)]="myprod.colorChosen"
            />
            <label for="{{ col.value }}">
              <span style="background-color: {{ col.label }}">
                <fa-icon icon="check"></fa-icon>
              </span>
            </label>
          </li>
        </ul>
      </div>

      <app-main-button
        (click)="addToCart(myprod)"
        class="buttons mx-3"
        class="orderButton"
        iconLeft="cart-shopping"
        content="Add To Cart"
      ></app-main-button>

      <app-main-button
        (click)="addToFav(myprod, 0)"
        class="buttons mx-2"
        iconLeft="heart"
        content="Favorite"
        backGroundColor="grey"
      ></app-main-button>

      <div class="py-4">
        <label class="productLabel py-3"> Select Your Quantity : </label>
        <div class="input-number">
          <button class="minus" (click)="minus(myprod)">-</button>
          <input
            readonly
            type="number"
            id="quantity"
            [(ngModel)]="myprod.quantity"
            value="1"
            min="1"
            max="20"
          />
          <button class="plus" (click)="plus(myprod)">+</button>
        </div>
      </div>
      <div *ngIf="myprod.isStock == true" class="inStock">IN STOCK</div>
      <div *ngIf="myprod.isStock == false" class="outOfStock">OUT OF STOCK</div>
    </div>
  </div>
</div>

<hr />

<div class="similarProducts">
  <div class="container pad-sections">
    <h3 class="prodh3">Similar Products</h3>

    <div class="row"></div>
  </div>
</div>
<div class="carousel-wrap">
  <owl-carousel-o [options]="customOptions" class="carousel">
    <ng-container *ngFor="let prod of prods">
      <ng-template carouselSlide class="carousel-slide">
        <app-productbox [product]="prod"></app-productbox>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
<hr />

<div class="prodHeaders">
  <div class="container pad-sections">
    <h3 class="prodh3 pad-sections">Product Questions & Answers</h3>
    <div class="py-3" *ngFor="let question of myprod.questions">
      <div class="questionsection py-3">
        <strong class="px-3"> Question: </strong>
        <label> {{ question.question }}</label>
        <br />
        <div class="d-flex py-1">
          <strong class="px-3"> Answer: </strong>
          <div class="answer-container">
            <span> {{ question.answer }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="adding-question">
      <div class="addinglabela pad-sections">
        <label class="addlabel">
          Do you have a question about the product? </label
        ><br />
        <a class="add-question" (click)="showNewQuestionForms()">
          Click here to ask us a question!
        </a>
      </div>

      <div class="questionform px-4 py-3" *ngIf="showNewQuestionForm">
        <form [formGroup]="question" (ngSubmit)="addQuestion()">
          <label for="question"> Enter a new question :</label>
          <input
            class="form-control my-2"
            placeholder="Enter your Question"
            formControlName="newQuestion"
          />
          <div
            class="error-note position-relative"
            *ngIf="submitted && question.controls['newQuestion'].invalid"
          >
            <span class="error">enter a valid question with min 6 letters</span>
          </div>
          <br />
          <app-main-button
            type="submit"
            content="Submit Question"
            (click)="
              showStandard(' Your question submitted successfully', question)
            "
          ></app-main-button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="prodRating pad-sections">
  <div class="container">
    <h3 class="prodh3 pad-sections">Reviews & Ratings</h3>
    <h3 class="prodratingheader">
      {{ myprod.rating }}<span class="px-1">out of 5</span>
    </h3>
    <hr />
    <br />
    <div
      class="card py-3 px-2 my-2 userRatings"
      *ngFor="
        let rating of myprod.ratings
          | paginate : { itemsPerPage: 3, currentPage: p }
      "
    >
      <label> {{ rating.name }} </label>
      <app-rating class="py-1" [product]="rating"></app-rating>

      <p *ngIf="rating.review">{{ rating.review }}</p>
    </div>
    <div class="p-0">
      <pagination-controls
        class="my-pagination"
        (pageChange)="p = $event"
        previousLabel="Previous"
        nextLabel="Next"
      >
      </pagination-controls>
    </div>
    <div class="adding-question">
      <div class="addinglabela pad-sections">
        <label class="addlabel">
          Do you want to submit a review about the product? </label
        ><br />
        <a class="add-question" (click)="showRatingForms()">
          Click here to review it!
        </a>
      </div>

      <div class="questionform px-4 py-3" *ngIf="showRatingForm">
        <form [formGroup]="ratings" (ngSubmit)="addRating()">
          <div class="d-flex">
            <label> Enter your Rating: </label>
            <ng-template #t let-fill="fill">
              <i class="bi-star-fill pb-1">
                <i
                  *ngIf="fill > 0"
                  class="bi-star-fill filled pb-1"
                  [style.width.%]="fill"
                ></i>
              </i>
            </ng-template>
            <ngb-rating
              class="px-2"
              [starTemplate]="t"
              formControlName="newRating"
              [resettable]="true"
              [max]="5"
            ></ngb-rating>
            <br />
          </div>
          <label class="pt-3"> Enter your name :</label>

          <input
            class="form-control my-2"
            placeholder="Enter your name"
            formControlName="newName"
          />
          <br />
          <label> Enter your review :</label>

          <input
            class="form-control my-2"
            placeholder="Enter your review (Optional)"
            formControlName="newReview"
          />
          <br />
          <!--
          <div
            class="error-note position-relative"
            *ngIf="ratingSub && ratings.controls['newName'].invalid"
          >
            <span class="error">You must enter your name</span>
          </div> -->
          <app-main-button
            type="submit"
            content="Submit Review"
            (click)="showStandard('Review submitted successfully', ratings)"
          >
          </app-main-button>

          <app-toaster></app-toaster>
        </form>
      </div>
    </div>
  </div>
  <p></p>
</div>
