.productSizes input[type=radio]:checked + .productsingelSize{
  background-color: var(--main-color);
  color: white;

}

.productSizes input{
  display: none;
}

.productSizes .productsingelSize{

  color: var(--main-color);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 6px 25px;
    margin-bottom: 9px;
    margin-right: 5px;
    cursor: pointer;



  }

  .productCategory{

    color: var(--gray-color);
    font-family: var(--button-font);
    font-weight: 700;
    line-height: 1.5;




  }

.productDiscount{

  font-family: var(--button-font);
  color: var(--gray-color);
}



  .productRent fa-icon{
    color: var(--hover-color);
  }
  .productRent{

    font-family: var(--button-font);
    color: var(--hover-color);
    font-weight: bold;
    font-size: 15px;


  }
  .custom-radios input[type=radio] {
    display: none;
  }

  .custom-radios input[type=radio] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }
  .custom-radios input[type=radio] + label span fa-icon {
    opacity: 0;
    transition: all 0.3s ease;

    color: var(--main-color);
  }



  .custom-radios input[type=radio]:checked + label span  fa-icon{
    opacity: 1;

  }
.productLabel{

  color: grey;
  text-transform: uppercase;
  font-family: var(--main-font);

}

.productDetails .productName{
margin: 0;
font-family: var(--main-font);
color: var(--main-color);
text-transform: capitalize;
}

.productDetails .productPrice{

  font-family: var(--main-font);
  font-size: 50px;
}


.slider-nav .slick-dots {
  position: absolute;
  bottom: 9px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.addtoCartButton {
  background-color: var(--main-color);
  font-size: 1.1rem;
  color: aliceblue;
  font-family: var(--main-font);
}

.addtoCartButton:hover {
color:white;
  background-color: var(--tertiary-color);
  border: 1px solid var(--main-color);
}

.favoriteButton {
  background-color:rgb(152, 152, 152);
  font-size: 1.1rem;
  color: aliceblue;
  font-family: var(--main-font);
}

.favoriteButton:hover {
background-color: rgb(70, 69, 69);
color:white;
}


.productQuantity{
  outline: none;
  border-color: var(--main-color);
  border-radius: 9px 9px 9px 9px;


}

.similarProducts h3{

  font-family: var(--main-font);
color: var(--main-color);
text-transform: uppercase;
}




.prodDetails p:first-child{
  color: var(--main-color);
  font-family: var(--main-font);
}
.buttons{

  margin: 0 0 0 0;
  padding: 0 0 0 0 !important;
}
@media screen and (min-width:740px) {
  .btn-w{
      width: 35% !important;
  }
}
