footer{
    width: 100%;
    background-color: var(--main-color);
    font-family: var(--main-font);
   
}
p{
    font-family: var(--secondary-font);
}
.footer-ul{
    list-style: none;

}
.footer-ul li{
    display: inline-block;
    margin: 0 15px;
}
.footer-ul a{
    text-decoration: none;
    color: white;
    font-family: "Robotolight";
    font-size: 14px;
}

.about-us ul li{
    margin: 5px 0px;
}
.about-us ul li a{
    color: #ffff;
    text-decoration: none;
    font-family:var(--secondary-font) ;
}
.about-us ul li a:hover{
    color: var(--main-color);
    text-decoration: none;
}
.btn-custom{
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 1rem;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
}
.footer-icons a{
    color: #ffffff;
    font-size: 1.5rem;
}
.footer-icons a :hover{
    color: var(--main-color);
}
.copyright p{
    font-size: 0.8rem;
    color: rgba(117,91,180,0.5);
    font-family: var(--secondary-font);
    text-align: center;
}
