footer{
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
}
.footer-ul{
    list-style: none;

}
.footer-ul li{
    display: inline-block;
    margin: 0 15px;
}
.footer-ul a{
    text-decoration: none;
    color: white;
    font-family: "Robotolight";
    font-size: 14px;
}
