.toaster {

  font-family: var(--main-color);
}




span {


  font-family: var(--main-font);
  color: var(--main-color);
}

.basictoaster {
  position: fixed;
  right: 0;
  top: 10%;

}

@media screen and (max-width:796px) {}
