.form-control{  
    background-color: transparent;
    border-width: 0 0 1px 0;
    box-shadow: none;  
    border-radius: 0; 
    text-shadow: none; 
}
.form-control:focus{  
    border-color: var(--main-color);
}
input::placeholder{
    font-size: 0.8rem;
    font-family: var(--secondary-font);
}