<body>
  <div class="contactus-photo">
    <img src="assets/images/contact.png" alt="" width="100%" height="50%" />
  </div>

  <div class="contactusform pad-sections px-5">
    <h1 class="headertext">Get in touch</h1>
    <div class="pad-sections">
      <form (ngSubmit)="submitEmail(sendForm)" #sendForm="ngForm">
        <input
          class="form-control mb-4 w-25"
          type="text"
          name="name"
          title="name"
          ngModel
          #name="ngModel"
          placeholder="Enter your name...."
          required
        />
        <div *ngIf="name.invalid && name.touched">
          <p>please enter name</p>
        </div>

        <input
          class="form-control mb-4 w-25"
          ngModel
          type="email"
          name="email"
          #email="ngModel"
          title="name"
          placeholder="Enter your email...."
          required
        />
        <div *ngIf="email.invalid && email.touched">
          <p>please enter valid email</p>
        </div>
        <textarea
          class="form-control mb-3 w-50"
          ngModel
          name="subject"
          title="textarea"
          #subject="ngModel"
          placeholder="Enter your subject"
          required
          minlength="12"
        ></textarea>
        <div *ngIf="subject.invalid && subject.touched">
          <p>please enter valid subject</p>
        </div>
        <div>
          <app-main-button type="submit" content="Submit"></app-main-button>
        </div>
      </form>
    </div>
  </div>
</body>
