<div class="container">
    <div id="noItemsDiv">no items .. go to shop to add products</div>
    <table class="table" id="tableContainer">
        <thead>
            <tr>
                <th>Details</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let cartProd of cartProducts;let i =index">
                <tr>
                    <td class="row">
                        <div class="col-4"><img src="{{cartProd.img}}" width="170px" class="img-fluid" alt=""></div>
                        <div class="col-8">
                            <h6>{{cartProd.ProdName}}</h6>
                            <p>{{cartProd.Category}}</p> <button class="btn btn-outline-danger" (click)="removeItem(i)">remove</button>
                        </div>
                    </td>
                    <td>
                        <select name="quantity" id="quantity">
                            <option [ngValue]="i+1" *ngFor="let item of [].constructor(10);index as i" >{{i+1}}</option>
                        </select>
                    </td>
                    <td>{{cartProd.Price}}</td>
                    <td>sadds</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>