:host{
    font-family: var(--main-font);
}

.fontawesomesvg {
    width: 100px;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: "Droid Serif", serif;
}

img {
  max-width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1% 0;
  margin-bottom: 5em;
}

.projTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.projTitle span {
  font-family: "Droid Serif", serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

/* CART HEADER */

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #d0d0d0;
}

.heading h1 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 2em;
  float: left;
}

.heading a.continue:link,
.heading a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 0.75em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  transition: 0.1s all ease-in-out;
}

.heading a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
}

.heading a.continue:hover,
.heading a.continue:focus,
.heading a.continue:active {
  background: var(--main-color);

}

/*table content*/
.tableContent{
  vertical-align: middle;

}
.tableContainer{
  width: 70%;
  margin: auto;
}
.btn-remove-respons{
  color: red;
  outline: none;
  border: none;
  background-color: none;
}
.tableBtnRemove{
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.tableBtnRemove fa-icon{
  color: red;
  font-size: 24px;
}
.prodInfo h6{
  color: var(--main-color);
  font-size: 20px;
}
.prodInfo p{
  color: #9e9c9c;
  font-size: 14px;
}

.inStock{
  color: rgb(152, 195, 88);
}
.outOfStock{
  color: rgb(235, 37, 30);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.input-number input {
  border: none;
  outline: none;

  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
}

.input-number button {
  /* width: 100%; */
  padding: 0 7px;
  font-size: 18px;
  background: var(--main-color);
  color: #ffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-number button:hover {
  background-color: #ddd;
  color: var(--main-color);
}


.minus{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.plus{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*checkout styling*/
.padCheckout{
  width: 30%;
  padding: 30px;
  background-color: rgba(130, 202, 156, 0.4);
  border-radius:15px ;
}
.checkoutContent{
  line-height:30px;
}
.checkoutContent span{
  color: #979595;
  margin-right: 20px;
  text-transform: uppercase;
}
/* .checkoutLink a{
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 0.75em;
  padding: 1em 2.5em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  text-align: right;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}

.checkoutLink a:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
}

.checkoutLink a:hover,
.checkoutLink a:focus,
.checkoutLink a:active {
  background: var(--main-color);
} */


.noItems{
  height: 80vh;
}
@media screen and (max-width:992px) {
  .padCheckout{
    width: 100%;
  }
}
