@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
    /* --main-color:#258EA6; */
    /* --main-color:#5A4196; */
    /* --main-color:#99B555; */
    --hover-color: #82ca9c;
    --main-color: #368F8B;
    --red-color: #EB5160;
    --button-font: "Montserrat", sans-serif;
    --gray-color: #999999e5;

    /* --main-font:Righteous, cursive; */
    /* --main-font:'Patua One', cursive; */
    --main-font: 'Bellota', cursive;
    --secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana;
}

* {
    padding: 0;
    margin: 0;
}

.pad-sections {
    margin: 50px auto ;
    border: 0;
}

.favIcon {
    background-color: var(--main-color) !important;
    color: #ffffff !important;
    border-radius: 50%;
}

html,
body {
    height: 100%;
}

.layout {
    position: fixed;
    left: 0;
    background-color: rgb(128, 128, 128, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 99999;
}

.form-control{
    background-color: transparent;
    border-radius: 10px;

}

.form-content input {
    background-color: transparent !important;
    border-width: 0 0 1px 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    outline: 0 !important;

}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: none;
}

input::placeholder {
    font-size: 0.8rem;
    font-family: var(--secondary-font);
}

.tooltip-container {
    position: relative;
}

.error {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-icon {
    position: relative;
}

.error .tooltip-icon:hover~.error-message {
    display: block;
}

.error-message {
    display: none;
    position: absolute;
    background-color: rgb(255, 233, 233);
    right: -50%;
    bottom: 100%;
    transform: translateX(50%);
    text-align: center;
    width: 130px;
    padding: 5px 0;
    border-radius: 5px;
    color: rgba(255, 0, 0, 0.9);
    font-size: 0.75rem;
    z-index: 9999;
    transition: all 0.2s ease-in !important;
}

.error-message p {
    margin-bottom: 0 !important;
}

.error-border{
    border-color:rgb(255, 162, 162) !important;
}
.input-group h5 {
    font-size: 1.5rem;

    color: var(--main-color);
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
