:root{
    --main-color:#7155b5;
    /* --main-color:#590259; */
    /* --main-color-rgb:rgba(117,91,180,255); */
    --secondary-color:#7459b4;
    --tertiary-color:#8b67df;
    --main-font:Righteous, cursive;
    --secondary-font:'Segoe UI', Tahoma, Geneva, Verdana;
}
*{
    padding: 0;
    margin: 0;
}

html,body{


    height: 100%;
}

@font-face {
    font-family: Roboto;
    src:local("Roboto"), url(assets/fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Robotolight;
    src:local("Roboto"), url(assets/fonts/Roboto/Roboto-Light.ttf);
}


li{
    font-family: "Roboto",Arial, sans-serif;
    font-size: 16px;
}



