@import '@angular/material/prebuilt-themes/indigo-pink.css';


:root{
    /* --main-color:#258EA6; */
    /* --main-color:#5A4196; */
    /* --main-color:#99B555; */
    --hover-color:#82ca9c;
    --main-color:#368F8B;
    --red-color:#EB5160;
    --button-font: "Montserrat", sans-serif;
    --gray-color: #999999e5;

    /* --main-font:Righteous, cursive; */
    /* --main-font:'Patua One', cursive; */
    --main-font:'Bellota', cursive;
    --secondary-font:'Segoe UI', Tahoma, Geneva, Verdana;
}
*{
    padding: 0;
    margin: 0;
}
.pad-sections {
    margin: 50px auto 50px auto;
    border: 0;
}
.favIcon{
    background-color: var(--main-color) !important;
    color: #ffffff !important;
}
html,body{
    height: 100%;
}
.layout{
    position: fixed;
    left: 0;
    background-color: rgb(128,128,128,0.5);
    height: 100vh;
    width: 100vw;
    z-index: 99999;
}
.form-control{
    background-color: transparent;
    border-width: 0 0 1px 0;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
    outline: 0;
}

.form-control:focus{
    border-color: var(--main-color);
    box-shadow: none;
}
input::placeholder{
    font-size: 0.8rem;
    font-family: var(--secondary-font);
}

.error p{
    color: rgba(255,0,0,0.9);
    font-size: 0.75rem;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
