:host{
    position: -webkit-sticky;
    position: sticky;
    top:60px;
}
.active{
    border-radius: 0 !important;
    background-color: var(--main-color) !important;
    color: #ffffff !important;
}
.sidebar{
    box-shadow: 0px 1px 1px;
}
.nav-pills a{
    color: rgb(159, 0, 0);
    font-size: 1rem;
}
.nav-link{
    margin: 2px 0px;
}
.nav-link span{
    margin-left: 10px;
} 

.nav-link fa-icon{
    margin-right: 10px;
} 

@media screen and (max-width:1100px) {
    .nav-link{
        margin: 0px;
    }
    .nav-link span{
        margin-left: 0px;
    } 
    
    .nav-link fa-icon{
        margin-right: 0px;
    } 
}